<div data-role="content">
  <h2>健康档案：</h2>
  <ul data-role="listview">
    <li><a href="/weixin_patient/health_record_list?type=ultrasound&open_id=<%=@open_id%>">超声</a></li>
    <li><a href="/weixin_patient/health_record_list?type=report&open_id=<%=@open_id%>">检验报告</a></li>
    <li><a href="/weixin_patient/health_record_list?type=ct&open_id=<%=@open_id%>">CT</a></li>
    <li><a href="/weixin_patient/health_record_list?type=heci&open_id=<%=@open_id%>">核磁</a></li>
  </ul><br>

</div>
</div>