<!--已经登陆的提示信息-->
<div data-role="content">

  <div data-role="popup" id="dialog" data-overlay-theme="a" data-theme="c">
    <div data-role="header" data-theme="a">
      登录提示
    </div>
    <div data-role="content" data-theme="d">
        <h4>你已经登陆，请返回!</h4>
        <button style="margin:0 auto;" onclick="test()" >确定</button>
    </div>
  </div>
</div>

<script>
    window.onload=function(){
        $("#dialog").popup("open");
    }
    function test(){
        WeixinJSBridge.invoke('closeWindow',{},function(res){


        });
    }
</script>