<%= stylesheet_link_tag    "weixins/form"%>

<div data-role="page" id="pageone" style="background:#f2f2f2;">
  <div data-role="content"  style="margin-top:15px;padding:3%;">
    <!--<h3 class="yahei">手机号登陆</h3>-->
    <!--<label for="name" class="ui-hidden-accessible">手机号</label>-->
    <div class="login_input">
    <input type="text" class="login_no_border_input" name="mobile_phone" data-role="none" id="mobile_phone" onblur="checkPhoneNum(this)" placeholder="请输入手机号...">
    </div>
    <div id="infoNote"></div>

    <!--<div id="codeInfo"></div>-->

    <div class="login_input">
      <input type="text" class="login_yanzhengm" value="" id="verify_code" data-role="none"/>
      <input class="login_time login_green_btn" id="btnSendCode" type="button" data-role="none" value="发送验证码" onclick="sendMessage()"/>
    </div>




    <input id="login" type="button" class="login_btn_sumit" data-role="none" data-inline="true" onclick="login(this)" value="登 录">
  </div>


</div>
</div>

<script>
    //手机号input触发事件
    function checkPhoneNum() {
        var mobile_phone = $("#mobile_phone").val();
        if (mobile_phone == "") {
            $("#infoNote").html("<font color='red'>手机号码不能为空！</font>");
        } else if (!mobile_phone.match(/^1[3|4|5|8][0-9]\d{4,8}$/)) {
            $("#infoNote").html("<font color='red'>手机号码格式不正确！请重新输入！</font>");
        } else {
            $("#infoNote").html("");
        }
    }
    ;


    //提交登陆
    function login() {
        var mobile_phone = $("#mobile_phone").val();
        var verify_code = $("#verify_code").val();
        if (mobile_phone == "") {
            $("#infoNote").html("<font color='red'>手机号码不能为空！</font>");
        } else if (!mobile_phone.match(/^1[3|4|5|8][0-9]\d{4,8}$/)) {
            $("#infoNote").html("<font color='red'>手机号码格式不正确！请重新输入！</font>");
        } else {

            $.ajax({
                url: "/weixin_patient/submit_login",
                type: 'post',
                data: {
                    mobile_phone: mobile_phone,
                    verify_code: verify_code,
                    open_id: "<%= @open_id %>"
                },
                success: function (data) {

                    $("#infoNote").html("");
//                    $("#codeInfo").html("");
                    if (data.success == true) {
                        //关闭窗口，回到微信界面
                        WeixinJSBridge.invoke('closeWindow', {}, function (res) {
                            //alert(res.err_msg);
                        });
                    } else {
                        $("#infoNote").html("<font color='red'>" + data["content"] + "</font>");
                    }

                }

            })

        }
    }

    /*发送验证码----发送验证码*/
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数

    function sendMessage() {
        var mobile_phone = $("#mobile_phone").val();
        if (mobile_phone == "") {
            $("#infoNote").html("<font color='red'>手机号码不能为空！</font>");
        } else if (!mobile_phone.match(/^1[3|4|5|8][0-9]\d{4,8}$/)) {
            $("#infoNote").html("<font color='red'>手机号码格式不正确！请重新输入！</font>");
        } else {
            $("#btnSendCode").removeClass("green").addClass("gray");
            curCount = count;
            //设置button效果，开始计时
            $("#btnSendCode").attr("disabled", "true");
            $("#btnSendCode").val(curCount + "秒");
            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
            //向后台发送处理数据
            $.ajax({
                url: "/weixin_patient/login_send_message",
                type: 'post',
                data: {
                    mobile_phone: mobile_phone,
                    open_id: "<%= @open_id %>"
                },
                success: function (data) {
                    if(data.success==true){
                        $("#infoNote").html("");
//                        $("#codeInfo").html("");
                    } else {
                        $("#infoNote").html("<font color='red'>"+data.content+"</font>");
//                        $("#codeInfo").html("");
                    }



                },
                error:function(){

                }

            })

        }
    }

    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $("#btnSendCode").removeAttr("disabled");//启用按钮
            $("#btnSendCode").val("重新发送").removeClass("gray").addClass("green");
        }
        else {
            curCount--;
            $("#btnSendCode").val(+curCount + "秒").removeClass("green").addClass("gray");
        }
    }
</script>

