<%= stylesheet_link_tag    "weixins/form"%>
<div data-role="page" id="pageone" style="background:#f2f2f2;">
  <div data-role="content" style="margin-top:15px;">
    <!--<p class="yahei">手机号注册</p>-->
    <label for="name" class="ui-hidden-accessible">手机号</label>
    <div class="login_input">
    <input type="text" class="login_no_border_input" data-role="none" name="mobile_phone" id="mobile_phone" onblur="checkPhoneNum(this)" placeholder="请输入手机号...">
    </div>
    <div id="infoNote"></div>
    <!--<div id="codeInfo"></div>-->

    <div class="login_input">
      <input type="text" class="login_yanzhengm" value="" id="verify_code" data-role="none"/>
      <input class="login_time login_green_btn" id="btnSendCode" type="button" data-role="none" value="发送验证码" onclick="sendMessage()"/>
    </div>
    <button href="#" data-role="none" class="login_btn_sumit" onclick="checkPhoneCode(this)">下一步</button>
  </div>



</div>

<div data-role="page" id="pagetwo" style="background:#f2f2f2">
  <div data-role="content">
    <label for="pass" class="yahei" style="margin:15px 0;display:inline-block;">密码</label>
    <div class="login_input">
    <input type="password" class="login_no_border_input" data-role="none" name="password" id="password">
    </div>
    <label for="pass_confirm" class="yahei" style="margin:15px 0;display:inline-block">确认密码</label>
    <div class="login_input">
    <input type="password" class="login_no_border_input" data-role="none" name="password_confirm" id="password_confirm">
    </div>
    <div id="password_info"></div>
    <table width="100%" style="margin-top:-30px">
      <tr>
        <td width="50%"><button href="#pageone"  class="login_btn_sumit" data-role="none">上一步</button></td>
        <td><button href="#" class="login_btn_sumit" data-role="none" onclick="submit_register(this)">确定</button></td>
      </tr>
    </table>

    <!--<input id="login" type="button" class="ui-btn-up-c" data-inline="true" onclick="submit_register(this)" value="确定">-->
    <div data-role="popup" id="popupBasic" data-theme="a" data-position-to="window" data-icon="delete"  data-iconpos="notext" class="ui-btn-right">
      <p>密码不一致<p>
    </div>


  </div>

</div>



<script>
    //手机号input触发事件
    function checkPhoneNum() {
        var mobile_phone = $("#mobile_phone").val();
        if (mobile_phone == "") {
            $("#infoNote").html("<font color='red'>手机号码不能为空！</font>");
        } else if (!mobile_phone.match(/^1[3|4|5|8][0-9]\d{4,8}$/)) {
            $("#infoNote").html("<font color='red'>手机号码格式不正确！请重新输入！</font>");
        } else {
            $("#infoNote").html("");
        }
    }
    ;

    //注册检验手机和验证码
    function checkPhoneCode(){
        var mobile_phone = $("#mobile_phone").val();
        var verify_code = $("#verify_code").val();
        if (mobile_phone == "") {
            $("#infoNote").html("<font color='red'>手机号码不能为空！</font>");

        } else if (!mobile_phone.match(/^1[3|4|5|8][0-9]\d{4,8}$/)) {
            $("#infoNote").html("<font color='red'>手机号码格式不正确！请重新输入！</font>");
        } else if(verify_code==""){
            $("#password_info").html("<font color='red'>密码不一致！</font>");
        } else {

            $.ajax({
                url: "/weixin_patient/check_phone_code",
                type: 'post',
                data: {
                    mobile_phone: mobile_phone,
                    verify_code: verify_code,
                    open_id: "<%= @open_id %>"
                },
                success: function (data) {

                    $("#infoNote").html("");
//                    $("#codeInfo").html("");
                    if (data.success == true) {
                        jQuery.mobile.changePage( "#pagetwo" ,"slideup")
                    } else {
                        $("#infoNote").html("<font color='red'>" + data["content"] + "</font>");
                    }

                }

            })

        }
    }

    //提交登陆
    function submit_register() {
        var mobile_phone = $("#mobile_phone").val();
        var verify_code = $("#verify_code").val();
        var password = $("#password").val();
        var password_confirm = $("#password_confirm").val();
        if (mobile_phone == "") {
            $("#infoNote").html("<font color='red'>手机号码不能为空！</font>");

        } else if (!mobile_phone.match(/^1[3|4|5|8][0-9]\d{4,8}$/)) {
            $("#infoNote").html("<font color='red'>手机号码格式不正确！请重新输入！</font>");
        }else if(password!=password_confirm){
//            $("#popupBasic").popup("open");
              $("#password_info").html("<font color='red'>密码不一致！</font>");
        } else {

            $.ajax({
                url: "/weixin_patient/create_patient_register",
                type: 'post',
                data: {
                    mobile_phone: mobile_phone,
                    verify_code: verify_code,
                    open_id: "<%= @open_id %>",
                    password:password
                },
                success: function (data) {

                    $("#infoNote").html("");
//                    $("#codeInfo").html("");
                    if (data.success == true) {
//                        jQuery.mobile.changePage( "#onepage" ,"slideup")
                        //关闭窗口，回到微信界面
                        WeixinJSBridge.invoke('closeWindow', {}, function (res) {
                        });
                    } else {
                        $("#infoNote").html("<font color='red'>" + data["content"] + "</font>");
                    }

                }

            })

        }
    }

    /*发送验证码----发送验证码*/
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数

    function sendMessage() {
        var mobile_phone = $("#mobile_phone").val();
        if (mobile_phone == "") {
            $("#infoNote").html("<font color='red'>手机号码不能为空！</font>");
        } else if (!mobile_phone.match(/^1[3|4|5|8][0-9]\d{4,8}$/)) {
            $("#infoNote").html("<font color='red'>手机号码格式不正确！请重新输入！</font>");
        } else {
            $("#btnSendCode").removeClass("green").addClass("gray");
            curCount = count;
            //设置button效果，开始计时
            $("#btnSendCode").attr("disabled", "true");
            $("#btnSendCode").val(curCount + "秒");
            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
            //向后台发送处理数据
            $.ajax({
                url: "/weixin_patient/register_send_message",
                type: 'post',
                data: {
                    mobile_phone: mobile_phone,
                    open_id: "<%= @open_id %>"
                },
                success: function (data) {
                    $("#infoNote").html("");
//                    $("#codeInfo").html("");
                    if(data.success==false){
                        $("#infoNote").html( "<font color='red'>"+data.content+"</font>");

                    }else{
                        $("#infoNote").html("");

                    }


                },
                error:function(){

                }

            })

        }
    }

    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);//停止计时器
            $("#btnSendCode").removeAttr("disabled");//启用按钮
            $("#btnSendCode").val("重新发送").removeClass("gray").addClass("green");
        }
        else {
            curCount--;
            $("#btnSendCode").val(+curCount + "秒").removeClass("green").addClass("gray");
        }
    }
</script>
