<%= javascript_include_tag 'weixins/video'%>
<%= stylesheet_link_tag 'weixins/video-js'%>
<style>
    .h_title {
        margin: 0;
        border-bottom: 1px solid #dcdcdc;
        border-top: 1px solid #dcdcdc;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        font-family: "Microsoft YaHei", Arial;
        filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#ffffff, endColorStr=#f4f4f4);
        background: -ms-linear-gradient(top, #fff, #f4f4f4);
        background: -moz-linear-gradient(top, #fff, #f4f4f4);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));
        background: -webkit-linear-gradient(top, #fff, #f4f4f4);
        background: -o-linear-gradient(top, #fff, #f4f4f4);
    }
</style>
<p class="h_title"><b>超声报告</b></p>
<img id="report" src="<%= default_access_url_prefix_with(@uuid)%>"/>
<p class="h_title" id="tag2"><b>超声图片</b></p>
<div id="pictures" class="video_lists">
  <table style="width:100%;">

  </table>
</div>
<%if !@videos.nil?%>
<p class="h_title" id="tag3"><b>超声视频</b></p>
<!--<div id="videos" class="video_lists ">
  <div id="Playback" class="col-md-12">
  </div>
</div>-->
<video id="example_video_1"  class="video-js vjs-default-skin video_lists" controls preload="none"
       poster="http://mimas-img.oss-cn-beijing.aliyuncs.com/17647225b86c47fc86089d1bff2ad450.jpg"
       data-setup="{}">
  <source src="http://mimas-video.oss-cn-beijing.aliyuncs.com/us-demo.mp4" type='video/mp4' />
</video>
<%end%>

<script>
    $(function(){
        <%if @pics.length == 0%>
            $('#tag2').remove();
        <% else %>
            <% @pics.each do |p|%>
                $('#pictures table').append('<tr><td><img src="<%= default_access_url_prefix_with(p) %>"/></td></tr>');
            <% end %>
        <% end %>

        $('img').css("width","100%");

        $('img').click(function(){
            var pic_real_width = $(this).context.width;
            if($(window).width()>=pic_real_width){
                $(this).css("width","");
            }else{
                $(this).css("width","100%");
            }
        });
    });

</script>