#index_modle_container {
    width: 1200px;
    margin: 0 auto;
}

@media (min-width: 1200px) {

    #index_modle_container {
        width: 1200px;
        margin: 0 auto;
    }
}

@media (max-width: 960px) {

    #index_modle_container {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 683px) {

    #index_modle_container {
        width: 100%;
        margin: 0 auto;
    }
}
