.navbar{
    border-radius: 0px;
    box-shadow: inset 0px 0px 1px #9edad6;
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#25cbc2, endColorStr=#29a5a2);
    background: -ms-linear-gradient(top, #25cbc2, #29a5a2);
    background: -moz-linear-gradient(top, #25cbc2, #29a5a2);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#25cbc2), to(#29a5a2));
    background: -webkit-linear-gradient(top, #25cbc2, #29a5a2);
    background: -o-linear-gradient(top, #25cbc2, #29a5a2);


}


ul li,.sf-menu{margin:0;padding:0;}
.sf-menu li{
    background:transparent;
    margin:0;
}
.sf-menu li:hover,.sf-menu li a:hover,.sf-menu li.sfHover{
    background:transparent;
    color:#fff;
    margin:0;
}
.sf-menu ul li a:hover,
.sf-menu ul li:hover,
.sf-menu ul li.sfHover,
.sf-menu ul ul li a:hover,
.sf-menu ul ul li:hover,
.sf-menu ul ul li.sfHover{
    background: #e5e5e5;
    color:#484A4F;
    margin:0;
}
.sf-menu ul li,.sf-menu ul ul li{
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    margin:0;
}
.sf-menu a,.sf-menu a:link {
    opacity:1;
    color:#fff !important;
    border-width:0px;
    font-size:17px;
    font-weight:800;
    text-shadow:0px 1px 1px rgba(0,0,0,.4) ;
    font-family: "黑体",Arial;
}
.sf-menu li ul li a,.sf-menu li ul li a:link{
    font-size:16px;
    font-weight:normal !important;
    color:#6b6e74 !important;
    text-shadow:none;
}
