    <header>
      <style>
          @media (min-width: 300px) {
              .navbar-header {
                  float: left;
              }
              .navbar-toggle {
                  display: none;
              }
              .navbar-collapse {
                  border-top: 0 none;
                  box-shadow: none;
                  width: auto;
              }
              .navbar-collapse.collapse {
                  display: block !important;
                  height: auto !important;
                  padding-bottom: 0;
                  overflow: visible !important;
              }
              .navbar-nav {
                  float: right !important;
                  margin: 0;
              }
              .navbar-nav>li {
                  float: left;
              }
              .navbar-nav>li>a {
                  padding-top: 15px;
                  padding-bottom: 15px;
              }
          }
      </style>
      <script>
          (function ($) {
              $(document).ready(function () {
                 $('#example').superfish({
                  });
              });
          })(jQuery);
      </script>


          <nav class="navbar navbar-default nav-bgcolor" role="navigation">
            <div class="container" style="padding:0px;">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-7">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
               <%logo=get_logo request.host%>
              <%= link_to (image_tag logo), root_path,:class=>"pull-left",:style=>"margin-left:15px;"%>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
              <ul class='sf-menu' id='example'>
                <%= raw get_menus_by_host(request.host) %>
              </ul>
             </div>
            </div>
          </nav>
      <style>
        ul li,.sf-menu{margin:0;padding:0;}
          .sf-menu li{
              background:transparent;
              margin:0;
          }
        .sf-menu li:hover,.sf-menu li a:hover,.sf-menu li.sfHover{
            background:transparent;
            color:#fff;
            margin:0;
        }
        .sf-menu ul li a:hover,
        .sf-menu ul li:hover,
        .sf-menu ul li.sfHover,
        .sf-menu ul ul li a:hover,
        .sf-menu ul ul li:hover,
        .sf-menu ul ul li.sfHover{
            background: #25c6be;
            color:#fff;
            margin:0;
        }
        .sf-menu ul li,.sf-menu ul ul li{
            background: #27aea9;
            border-right:1px solid #24a69e;
            color:#fff;
            margin:0;
        }
          .sf-menu a,.sf-menu a:link {
              opacity:1;
              color:#fff;
              border-width:0px;
              font-size:17px;
              font-weight:600;
              text-shadow:0px 1px 1px rgba(0,0,0,.4) ;
              font-family: "Microsoft YaHei",Arial;
          }
        .sf-menu li ul li a,.sf-menu li ul li a:link{
            font-size:16px;
            font-weight:normal;
        }
      </style>




    </header>