<style>
    body,h6{margin:0;padding:0;font-weight:normal;}

    .pink_box{
        background:#f984ad;
        padding:15px;
    }
    .pink_box h1{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .pink_box h4{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .text{
        font-family:Arial,'微软雅黑';
        color:#666666;
        line-height:30px;
        padding:20px 15px;
    }
    .footer{margin-top:15px;padding:10px;text-align:center;color:#cccccc;border-top:1px solid #cccccc;}
</style>
<!--6~8周-->
<div class="pink_box">
<h1>6~8周</h1>
<h4>
    检查项目 ：听胎心
</h4>
</div>
<article class="text">
    　做超声波检查时，可看到胚胎组织在胚囊内，若能看到胎儿心跳，即代表胎儿目前处于正常状态。此外，在超声波的扫瞄下，还可以看到供给胎儿12周前营养所需的卵黄囊。
</article>
<footer class="footer">
    <h6>华康同邦 版权所有</h6>
</footer>