<style>
    body,h6{margin:0;padding:0;font-weight:normal;}

    .pink_box{
        background:#f984ad;
        padding:15px;
    }
    .pink_box h1{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .pink_box h4{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .text{
        font-family:Arial,'微软雅黑';
        color:#666666;
        line-height:30px;
        padding:20px 15px;
    }
    .footer{margin-top:15px;padding:10px;text-align:center;color:#cccccc;border-top:1px solid #cccccc;}
</style>
<div class="pink_box">
<!--17~20周-->
<h1>17~20周</h1>
<h4>
    检查项目 ：第3次产检、详细超音波检查、可看出胎儿性别、首次胎动
</h4>
</div>
<article class="text">
    孕20周做超声波检查，主要是看胎儿外观发育上是否有较大的问题。医师会仔细量胎儿的头围、腹围、看大腿骨长度及检视脊柱是否有先天性异常。准妈妈在16周时，已可看出胎儿性别，但在20周时，准确率更高。至于最令准妈妈期待的首次胎动，约在18—20周出现。
</article>
<footer class="footer">
    <h6>华康同邦 版权所有</h6>
</footer>