<!--38~42周-->
<h1>38~42周</h1>
<li>
    检查项目 ：第10次产检、胎位固定、胎头下降、准备生产、考虑催生
</li>
<article>
    　从38周开始，胎位开始固定，胎头已经下来，并卡在骨盆腔内，此时准妈妈应有随时准备生产的心理。在未生产前，仍应坚持每周检查一次，让医生进行胎心监护、B超检查，了解羊水以及胎儿在子宫内的状况。如果超过41周还未有分娩迹象，准妈妈应该住院催产了，因为逾期过久，胎儿在宫内将面临缺氧危险。

    　　温馨提示：女性在计划去进行孕前检查时间安排上药注意避开月经期，因为在经期检查，很多项目没法正常进行；女性在准备去医院体检的当天，过了凌晨0时，不要喝水，不要吃早饭，要空腹，因为有的检查项目需要空腹进行；女性在计划做孕检的前一天晚上要注意保证充足的睡眠，以保证精力充沛；女性在去进行孕前检查的当天早上，要将第一次排尿的尿液，收集少许，放入无污染的小玻璃瓶中，以备化验用。在进行B超检查前要憋尿，尽量多喝水，以保证膀胱充盈。
</article>
<footer>
    <p>华康同邦 版权所有</p>
</footer>