<style>
    body,h6{margin:0;padding:0;font-weight:normal;}

    .pink_box{
        background:#f984ad;
        padding:15px;
    }
    .pink_box h1{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .pink_box h4{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .text{
        font-family:Arial,'微软雅黑';
        color:#666666;
        line-height:30px;
        padding:20px 15px;
    }
    .footer{margin-top:15px;padding:10px;text-align:center;color:#cccccc;border-top:1px solid #cccccc;}
</style>
<div class="pink_box">
<!--25~28周-->
<h1>25~28周</h1>
<h4>
    检查项目 ：绒毛膜采样
</h4>
</div>
<article class="text">
    　此阶段最重要是为准妈妈抽血复查梅毒、艾滋病、乙型肝炎有关抗原、抗体。目的是要再次确认准妈妈早孕时所做的检查结果，要检视准妈妈本身是否带有或已感染到乙型肝炎。此外，血糖、胆汁酸的复查也很必要。
</article>
<footer class="footer">
    <h6>华康同邦 版权所有</h6>
</footer>