<style>
    body,h6{margin:0;padding:0;font-weight:normal;}

    .pink_box{
        background:#f984ad;
        padding:15px;
    }
    .pink_box h1{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .pink_box h4{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .text{
        font-family:Arial,'微软雅黑';
        color:#666666;
        line-height:30px;
        padding:20px 15px;
    }
    .footer{margin-top:15px;padding:10px;text-align:center;color:#cccccc;border-top:1px solid #cccccc;}
</style>
<div class="pink_box">
<!--36周-->
<h1>36周</h1>
<h4>
    检查项目 ：第8次产检、为生产事宜做准备
</h4>
</div>
<article class="text">
    　　从36周开始，准妈妈愈来愈接近生产日期，此时所做的产检，以每周检查1次为原则，并持续监视胎儿的状态。此阶段的准妈妈，可开始准备一些入院用的东西，以免生产当天太过匆忙，变得手忙脚乱。
</article>
<footer class="footer">
    <h6>华康同邦 版权所有</h6>
</footer>