<style>
    body,h6{margin:0;padding:0;font-weight:normal;}

    .pink_box{
        background:#f984ad;
        padding:15px;
    }
    .pink_box h1{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .pink_box h4{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .text{
        font-family:Arial,'微软雅黑';
        color:#666666;
        line-height:30px;
        padding:20px 15px;
    }
    .footer{margin-top:15px;padding:10px;text-align:center;color:#cccccc;border-top:1px solid #cccccc;}
</style>
<!--13~16周-->
<div class="pink_box">
<h1>13~16周</h1>
<h4>
    检查项目 ：第2次产检、唐氏症筛检、施行羊膜穿刺
</h4>
</div>
<article class="text">
    　　从第二次产检开始，准妈妈每次必须做基本的例行检查，包括：称体重、量血压、问诊、查子宫大小及看宝宝的胎心音等。如果准妈妈年龄在35周岁以上，建议您在16—18周后可抽血做唐氏症筛检。胎儿颈部透明带大于3.0mm，抽血结果几率大于1/270者，有唐氏症儿的可能性，应安排做羊膜腔穿刺检查。至于施行羊膜穿刺的周期，原则上是以16—20周开始进行，主要是看胎儿的染色体异常与否。
</article>
<footer class="footer">
    <h6>华康同邦 版权所有</h6>
</footer>