<style>
    body,h6{margin:0;padding:0;font-weight:normal;}

    .pink_box{
        background:#f984ad;
        padding:15px;
    }
    .pink_box h1{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .pink_box h4{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .text{
        font-family:Arial,'微软雅黑';
        color:#666666;
        line-height:30px;
        padding:20px 15px;
    }
    .footer{margin-top:15px;padding:10px;text-align:center;color:#cccccc;border-top:1px solid #cccccc;}
</style>
<div class="pink_box">
<h1>29~32周</h1>
<h4>
    检查项目 ：绒毛膜采样
</h4>
</div>
<article class="text">
    　　在孕期28周以后，孕妇的产检是每2周检查1次。医师要陆续为准妈妈检查是否有水肿现象。由于大部分的子痫前症，会在孕期28周以后发生，所以，准妈妈在怀孕后期，针对血压、蛋白尿、尿糖所做的检查非常重要。如果测量结果发现准妈妈的血压偏高，又出现蛋白尿、全身水肿等情况时，准妈妈须多加留意，以免有子痫前症的危险。另外心电图、肝胆B超的检查也是必要的。还要根据孕妇情况复查血糖、胆汁酸。

    　　Tip：将大拇指压在小腿胫骨处，当压下后，皮肤会明显地凹下去，且不会很快地恢复，即表示有水肿现象。准妈妈若要预防水肿的发生，平时可穿着弹性袜，睡觉时将双脚抬高，并以左侧位躺。
</article>
<footer class="footer">
    <h6>华康同邦 版权所有</h6>
</footer>