<style>
    body,h6{margin:0;padding:0;font-weight:normal;}

    .pink_box{
        background:#f984ad;
        padding:15px;
    }
    .pink_box h1{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .pink_box h4{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .text{
        font-family:Arial,'微软雅黑';
        color:#666666;
        line-height:30px;
        padding:20px 15px;
    }
    .footer{margin-top:15px;padding:10px;text-align:center;color:#cccccc;border-top:1px solid #cccccc;}
</style>
<!--9~11周-->
<div class="pink_box">
<h1>9~11周</h1>
<h4>
    检查项目 ：绒毛膜采样
</h4>
</div>
<article class="text">
    　若孕妇家族本身有遗传性疾病，可在这个时间段做“绒毛膜采样”。此项检查具有侵入性，常会造成孕妇流产以及胎儿受伤，做之前要仔细听从医生的建议。
</article>
<footer class="footer">
    <h6>华康同邦 版权所有</h6>
</footer>