<style>
    body,h6{margin:0;padding:0;font-weight:normal;}

    .pink_box{
        background:#f984ad;
        padding:15px;
    }
    .pink_box h1{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .pink_box h4{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .text{
        font-family:Arial,'微软雅黑';
        color:#666666;
        line-height:30px;
        padding:20px 15px;
    }
    .footer{margin-top:15px;padding:10px;text-align:center;color:#cccccc;border-top:1px solid #cccccc;}
</style>
<!--5~6周-->
<div class="pink_box">
<h1>5~6周</h1>
<h4>
    检查项目 ：B超看胚胎数
</h4>
</div>
<article class="text">
    　如果你还没有做早孕检查，现在是去医院的时候了。你的妊娠反应开始明显起来，胸部感到胀痛、乳房增大变软、乳晕有小结节突出，你会时常疲劳、犯困而且排尿频繁。有恶心的感觉，整个一天你都会随时呕吐。现在最好不要外出旅行，过量的运动有可能引起流产。一些孕期检查能助你了解自身的身体状况后，调节好孕早期的负面情绪。
    怀孕6周的孕期检查主要有：
    <br />体重：体重是监测胎儿是否正常发育的一项重要的指标。
    <br />血常规：常规血液学检查及早发现贫血等血液体统疾病，这项检查还可测得红血球的大小(MCV)，有助于发现地中海贫血携带者。
    <br />尿糖：如果准妈妈尿液中糖或酮体呈阳性，说明准妈妈存在糖尿病的可能，这时候医生会进一步检查，用其他检查手段确诊、排除糖尿病可能。
    <br />尿蛋白：如果准妈妈液中蛋白呈阳性，则表示准妈妈有妊娠高血压、肾脏疾病的可能，蛋白尿和高血压是准妈妈先兆子痫的症状。
    <br />乙肝表面抗原：乙肝表面抗原它是已感染乙肝病毒的标志，若孕妈检测出此抗原，可能会遗传给胎儿。
</article>
<footer class="footer">
    <h6>华康同邦 版权所有</h6>
</footer>