<style>
    body,h6{margin:0;padding:0;font-weight:normal;}

    .pink_box{
        background:#f984ad;
        padding:15px;
    }
    .pink_box h1{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .pink_box h4{
        margin:0;
        color:#ffffff;
        font-family:Arial,'微软雅黑';
        text-shadow:0 1px 1px rgba(201,10,77,.6);
    }
    .text{
        font-family:Arial,'微软雅黑';
        color:#666666;
        line-height:30px;
        padding:20px 15px;
    }
    .footer{margin-top:15px;padding:10px;text-align:center;color:#cccccc;border-top:1px solid #cccccc;}
</style>
<!--0~5周-->
<div class="pink_box">
<h1>0~5周</h1>
<h4>
    检查项目 ：确定妊娠
</h4>
</div>
<article class="text">
    　你可能会和大多数孕妈妈一样出现恶心、孕吐、乳房胀痛、疲劳以及尿频等症状。你的嗅觉会变得更加灵敏，讨厌烟、酒精或含咖啡因的饮料。平时不贪睡的你，现在会感到老是“睡不醒”。你的情绪容易改变，易焦虑不安，有时还会流泪，从兴奋、骄傲到怀疑、不安。这些变化有些是由荷尔蒙引起的。与亲爱的老公和亲密的朋友分享你的正面及负面的情绪，会让你感到放松很多。
    怀孕5周的孕期检查项目主要有：
    <br />血常规：常规血液学检查及早发现贫血等血液体统疾病，这项检查还可测得红血球的大小（MCV），有助于发现地中海贫血携带者
    <br />尿常规：检查尿液颜色、透明度、酸碱度，细胞检查、管型检查、蛋白质检查、比重检查等。
    <br />血型：检查血型，以备生产时输血，准妈妈了解自己的血型很重要。
    <br />乙肝表面抗原：乙肝表面抗原它是已感染乙肝病毒的标志，若孕妈检测出此抗原，可能会遗传给胎儿。
    B超检查：检查孕囊的大小和孕周是不是相符的和排除宫外孕
</article>
<footer class="footer">
    <h6>华康同邦 版权所有</h6>
</footer>