<% if @torf[:torf]=="false" %>
$('#content').html("<div class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' data-backdrop='false'><div class='modal-dialog'><div class='alert alert-danger'>用户名或密码错误</div></div></div><script>$('#myModal').modal('show');setTimeout(function(){$('#myModal').modal('hide');},1500);</script>");
<% else %>
$('#content').html("<script>$(document).ready(function(){ location.href='/home'});</script>");
<% end %>