
<div class="container">
  <div class="row" style="margin-bottom:50px;">
    <div class="col-md-12 index_box" style="margin-top:20px;padding:0;">
      <p class="box-title font-18 font-yahei" style="padding-left:15px;"><b>邮箱号激活</b></p>
      <div class="space"><%=image_tag "bar02.png" ,class:"img-responsive center-block" %></div>
      <p class="col-md-6 col-md-offset-4 col-xs-offset-2"  style="padding:20px 0;">
        <span class="glyphicon glyphicon-ok btn-success img-circle " style="width:48px;height:48px;font-size:36px;line-height:40px;text-align:center;"></span>
        <span class="font-yahei font-16">恭喜您成功激活账户，现在去<<a href='/users/setting' style="color:#0066cc;font-size:16px;text-decoration:underline">完善个人信息</a>吧！</span>
      </p>
    </div>

  </div>
</div>