<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>欢迎激活账号</h1>
<p>
  收到邮箱后,点击以下连接，请及时激活账号
  <br>
</p>
<p>
  需要激活，请点击如下链接： <a href="<%= @url %>"><%= @url %></a>.

</p>
<p>该链接只能用于激活相应账号！</p>
<p>谢谢合作，祝您健康!</p>
</body>
</html>
