<style>
    p{
        word-break: break-all !important;
        width:90%;
    }
    .box-title {
        height: 43px;
        line-height: 43px;
        border-bottom: 1px solid #e5e5e5;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#f4f4f4);
        background: -ms-linear-gradient(top, white, #f4f4f4);
        background: -moz-linear-gradient(top, white, #f4f4f4);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f4f4f4));
        background: -webkit-linear-gradient(top, white, #f4f4f4);
        background: -o-linear-gradient(top, white, #f4f4f4);}
</style>
<div class="container">

  <div class="index_box" style="margin-top:-10px;">
    <p class="box-title font-18 font-yahei"style="padding-left:15px;"> 案例综述</p>
    <div class=" lineheight-30 font-12" style="padding:15px 40px;">
      <h2 style="text-align: center" class="font-yahei">改革向深水区推进 医疗产业开启更广阔天空</h2>
      <p><span class="pull-right font-14" style="color:#ccc;margin-right:80px;"><span style="margin-right:15px;">2014-03-17 18：00</span><span style="margin-right:15px;">记者: xxx</span><span style="margin-right:15px;">来源：xxx</span>  </span></p>
      <div style="clear:both;"></div>
      <div  style="margin-top:40px;">
        <div class="container">

  <p> &nbsp; &nbsp; &nbsp;&nbsp; 在人口老龄化以及医疗卫生实际需求迅速上升的背景下,“完善政府、单位和个人合理分担的基本医疗保险筹资机制”可能意味着两方面的内容，一方面是城乡居民财政补助标准可能会有提升，以保证城镇居民医保和新农合未来的筹资增速不再降低；另一方面是城市农民工纳入城镇职工保险的进程可能会加快，以保证城镇职工医保可以有资金应付越来越多退休人员的医疗支出。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 医疗卫生领域的改革正驶向深水区。“为了人民的身心健康和家庭幸福，我们一定要坚定不移推进医改，用中国式办法解决好这个世界性难题。”国务院总理李克强在政府工作报告中明确提出，2014年要推动医改向纵深发展。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 作为民生大计，医疗卫生领域如此坚定的改革取向无疑令大众吃了一颗定心丸。与此同时，作为一项经济产业，医疗领域的改革宣言也同样会让不少投资者兴奋。 </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 数据显示，目前A股市场主营医药、医疗相关产业的上市公司达到185家。截至2013年年底，医药行业总市值超过1.4万亿元，占A股总市值的比例超过5%。业内人士称，更深层次的医改将为相关产业打开新的发展空间。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 提高保障力度释放医疗需求</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 从政府工作报告的具体内容来看，2014年医疗卫生工作的重点至少包括四个部分——医疗保障制度建设、公立医院改革、公共卫生服务水平提升和发展中医药。其中，医保制度的进一步完善将为医疗需求的释放奠定坚实基础。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 报告提出，要巩固全民基本医保，通过改革整合城乡居民基本医疗保险制度；完善政府、单位和个人合理分担的基本医疗保险筹资机制，城乡居民基本医保财政补助标准提高到人均320元;在全国推行城乡居民大病保险；加强城乡医疗救助、疾病应急救助;提高重大传染病、慢性病和职业病、地方病防治能力，人均基本公共服务补助标准增加到35元。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 对此，华融证券分析称，受限于居民收入和保障水平，尽管我国大病诊疗需求客观存在且随着老龄化的深入而快速增长，但其长期处于被压制状态。提高补助标准和在全国推行大病医保将激活被压制的大病诊疗需求，带动大病医疗市场的扩容。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 中银国际的报告则表示，在人口老龄化以及医疗卫生实际需求迅速上升的背景下,“完善政府、单位和个人合理分担的基本医疗保险筹资机制”可能意味着两方面的内容，一方面是城乡居民财政补助标准可能会有提升，以保证城镇居民医保和新农合未来的筹资增速不再降低；另一方面是城市农民工纳入城镇职工保险的进程可能会加快，以保证城镇职工医保可以有资金应付越来越多退休人员的医疗支出。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 供给端改革或是着力点 </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 事实上，自2009年新医改推动以来，政府通过建立基本覆盖全国的医疗保障体系，已经释放了巨大的医疗需求。在此背景下，医疗卫生领域供给端的改革却表现得相对滞后，由此导致医疗供需失衡，看病难、看病贵的局面，医患冲突愈发严重。业内人士表示，2014年的着力点或在供给端。 </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; “对于供给端的改革，政府的基本思路是公立医院回归公益本质满足基本医疗需求，与此同时，引入社会资本提供补充医疗服务，满足多元化的需求。”广州证券分析师徐舜表示，2014年政府将继续推动公立医院的改革和鼓励社会资本办医。 </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 公立医院改革方面，政府工作报告中要求“县级公立医院综合改革试点扩大到1000个县，覆盖农村5亿人口”，这与此前2012年6月确定的311个县相比有了巨大提升。有机构测算，按照这一要求，县医院改革的范围将涉及35%的县以及65%的农村人口，2014年将是县医院改革最为重要的一年。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 公立医院改革的核心是破除以药养医。业内人士指出，无论哪一级别的公立医院改革，最终需要解决两个问题——以药养医和补偿机制。目前，破除以药养医已从基层往高级别的医院推进。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 鼓励社会资本办医方面，报告中提出的“创新社会资本办医机制”成为一大亮点。中银国际分析认为，“创新”和“机制”意味着公立医院改制、混合所有制医院、民营医院进入医保等事件的可能性大大提升。 </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 此外，“推进医师多点执业”也可能成为社会资本办医的一大推手。目前，社会办医发展的一个主要瓶颈是优质医生资源被公立医院垄断，医生多点执业则有望打破这一垄断。“从前期北京、深圳等地的相关政策来看，多点执业的具体政策正朝向更有实际操作性的方向发展。”中银国际称。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 器械服务行业迎来“成长期”</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 具体到A股市场，政府工作报告给整个大医疗产业打开了空间，不过，相比此前已被市场关注的民营医院、县级公立医院改革等主题，医疗器械与医疗改革或将“独具魅力”。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 华融证券分析师张科然认为，一方面，政府对药品价格和临床应用的管制将持续加强，制药行业势必分化。但另一方面，以医疗服务、医疗器械为代表的新经济形式在改革中受益最为明显，尚未面临系统性的政策压力，在医疗行业中亦属于“朝阳产业”，且在A股中标的较少，其享受高估值具备一定的合理性。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 在医改走向纵深、着力点在供给端的背景下，广州证券建议投资者把握政策趋势，积极关注受益于供给端改革的子板块。其投资策略也指向了市场空间巨大的医疗服务行业。</p>

</div>
      </div>
    </div>
  </div>
</div>