<div class="container">
  <h1 style="text-align: center">专访美中宜和医院CEO胡澜 医疗机构改革的硬骨头:资源短缺</h1>
  <p ><strong> &nbsp; &nbsp; &nbsp;&nbsp; 经济观察网 记者 沈建缘</strong> 从三中全会以来，本届政府在医疗改革方面的明确信号，是医疗行业将在以市场主导来配置资源的战略下进行改革。对于医院的经营和管理者来说，这是非常好的信号 。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 美中宜和妇儿医院CEO胡澜认为，新的改革意味着政府不仅鼓励社会资本办医，而且将以“简政放权”的方式将减少政府对市场行为的干预。“我们很期待在医疗行业有一些很具体的细则出台，包括市场准入，审批程序等方方面面，能够真的通过简政放权，释放市场的力量，让整个医疗服务领域的发展能够更具活力和生命力。”她说。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 美中宜和从2004年成立以来，目前已在北京丽都、亚运村和天津运营三家妇儿专科医院，2013年9月获得美国华平投资集团等投资机构的1亿美元融资，计划陆续在上海、深圳、杭州、武汉、成都、北京等地开设新的院区，建立全国布局的国际化高端妇儿医疗集团。</p>
  <strong> &nbsp; &nbsp; &nbsp;&nbsp; 经济观察报：目前医疗体制领域的改革最难啃的“硬骨头”是什么呢？</strong>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; <strong>胡澜：</strong>医疗改革，最重要的就是人的问题，如果不突破这个瓶颈的话，我觉得其他可能都会受到制约。中国有质量的医生还是供不应求，每千人拥有的医师的数量本身就比欧美国家少很多，如果再把质量因素加进去的话，实际上这个缺口更大。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 一方面，我国医疗资源的需求是一个快速增长的过程。随着人口的老龄化和城镇化的步伐，供需矛盾将更加显现，这是制约中国医疗领域发展的一个最最关键的因素。因此改革医疗体制，首先是要让医疗生产力得到的彻底解放。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 另外，就是付费层面的问题。付钱是制约私立或者民营医疗企业发展的比较重要的问题。最合理的结构是社保应该能够覆盖社会当中的弱势群体，比如说老年人和穷人。我认为应该大力发展商业保险，与市场机制相配合。现在的社保，大家都有一个误区，就是让社保来解决所有人的问题，解决所有的健康问题，当然，这个期望值需要一些引导。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 这两点，我觉得可能是未来在医疗改革当中比较重要“硬骨头”。在这两大问题都没有彻底解决之前，作为私立医疗机构，我们可能最要做的就是发挥自己目前的灵活的机制、运营的效率，尽可能从管理上和服务上成为一个很好的医疗平台，能够尽可能的吸引好的医疗人才，为更多的患者服务。</p>
  <strong> &nbsp; &nbsp; &nbsp;&nbsp; 经济观察报：您希望出台什么样的政策可以帮助民营医疗机构服务于市场？</strong>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; <strong>胡澜：</strong>关于对接保险这一块我们比较关注，医保有一个商业补充险，但必须获得医保资质之后才能有商业补充险，这一块也是有前途的，但也会受制于很多的规定。总而言之，现在比较纠结于医疗定价的问题。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 上海的做法我们是比较欢迎的。上海的生育险无论你在哪里生都可以报销6000元，只要上了这个险就有6000元的报销，至于你实际上花了60000还是花了3000那由患者自己决定，不要把注意力集中在是在公立医院还是私立医院生产。有人愿意选择60000的，那他自己花那54000，如果在生育险上全国可以有这样的政策那就好很多。</p>
  <strong> &nbsp; &nbsp; &nbsp;&nbsp; 经济观察报：如何看待近年来医患矛盾日趋严峻的问题？</strong>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; <strong>胡澜：</strong>很多问题的发生往往都是沟通不畅导致的，但这首先是法制环境不健全的问题。无论是在什么样的国家，如果事情不能进入法律轨道，就会出现这样的问题。在美国，医疗差错率并不比中国低，为什么在美国就没有这样的情况？是因为所有事情发生后，大家都能在理性的、法律的层面来解决问题，整个社会形成公平和值得信赖的氛围。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 现在的情况是，公立医院每个医生一天要看五六十，甚至上百个病人，在这种环境下，医生很难把所有的问题解释清楚，更无法与病人进行良好的沟通，因为没有这样的基础。在这样的供求矛盾下，要解决问题，真是很难。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 只有让我们这个社会越来越多的优秀人才愿意做医生，壮大了医生的队伍。充实优秀的医疗资源的时候，这种供求矛盾才会趋于缓和。当一个医生一天从看100个，变成看20个病人的时候，沟通就更加的充分，这样的问题就会减少。</p>
  <strong> &nbsp; &nbsp; &nbsp;&nbsp; 经济观察报：这一次全国的两会，您是否知道有医疗界的代表有明确关于多点执业的详细提案？</strong>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; <strong>胡澜：</strong>一个多月前卫人委出了关于“多点执业”的指导意见，我想从这里面也可以看到一个态度，我们希望政策的尺度可以放的更宽一些。我知道最早在深圳有这种“备案制”的政策，最近听说广东又出了一个，北京也有一个方案，不是备案制，但也有了极大的突破，报到卫计委，目前还没有获得卫计委的批准。</p>
  <strong> &nbsp; &nbsp; &nbsp;&nbsp; 经济观察报：但现在面临的问题是，越来越少的人愿意从事医生的这种行业。</strong>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; <strong>胡澜：</strong>如果从更高的层面来看待医疗行业面临的问题，有很多东西是有解的，比如说，解放医生他们成为自由执业者。修改《医师法》，让医生在他的技术准入条件下能够在不同时间、不同地点为病人服务，让医生真正的发挥能动性，真正的体现他们的价值，让他们凭借技术和经验，得到社会的认可，是有长远意义的。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 政策制订者，目光应该放得更加长远一些，更加宏观地看待这些问题。如果让医生能够真正在市场当中体现他们的价值，可能会有更多的人去加入这个行业，从增量来说，对社会是很大的贡献。这有可能在短期内造成一些矛盾，造成一些不利的影响，但是从长远来看，对我们民族说都是一件好事情</p>
  <strong> &nbsp; &nbsp; &nbsp;&nbsp; 经济观察报：如何理解现在医疗体制改革与政府简政放权之间的关系呢？</strong>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; <strong>胡澜：</strong>关于医疗体制改革，目前大家都觉得是一个体制问题。但体制问题是怎么造成的，为什么现在很难破解呢？我觉得正是因为这些利益的纠葛。政府需要有一些勇气，也可能会承担一些风险，也可能会在短期内看到某些乱象，这就是所谓的“硬骨头”的问题。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 其实就是这个行业里面一环套一环，纠结在一起的冲突，包括利益机构之间的博弈，比如公立医院么反对多点执业，其实更多也是为了保护公立医院的利益，担心公立医院医疗的工作会受到影响。如果在某些的利益能够打破，眼光能够放得更加长远一些的时候，这个“硬骨头”是能啃的。</p>
  <strong> &nbsp; &nbsp; &nbsp;&nbsp; 经济观察报：如何看待社会办医的发展前景？</strong>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; <strong>胡澜：</strong>医疗是全社会关注的一个热点，而引入社会资本办医更是热点中的热点。尤其是三中全会之后提出了一些决定性的政策，比如“市场是配置资源的决定性作用”使得社会对于这个问题的关注趋于白热化。在这样一种状态下，社会资本办医的前景是非常乐观的。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 目前大家投资医疗的热度比较高，从某一个层面来说对我们而言是一件好事，但我们希望真正懂这个行业的人进来投资，因为医院的管理非常复杂，而且与人命相关， 有的投资人认为盖一个房子，弄一些设备，挖一些医生这就是医院，但事实并非如此。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 我们医院里面有32个管理模块，比较不太重要的就有不到10个，这10个模块单独提出来就可以做一个五星级酒店，剩下的这22个模块才是和医疗相关的，由此可见，经营医院难度非常之大的。而在投资热潮下，因为缺乏在这个专业领域真正的运营能力，可能就会出现一些损害患者利益的行为。“以敬畏之心做医疗”这不是一句空话，但很多的投资人并没有真正意识到这一点</p>
  <strong> &nbsp; &nbsp; &nbsp;&nbsp; 经济观察报：你担心的是过度投资造成更大的竞争？</strong>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; <strong>胡澜：</strong>我们担心的并不是良性的竞争，而是像刚刚说的一些非理性资本进入之后有一些非理性的举动。非理性就可能导致结果和预期不吻合，这时候就会出现和医疗本质相悖的东西，会伤害到这个行业，伤害到患者的利益。导致这个社会又对社会资本办的医疗机构不信任了，这就造成了一个全输的局面。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 我们一直呼吁投资界理性对待医疗投资，因为这是这关系到生命的行业，出了问题是无法召回的，需要极度慎重。</p>
  <strong> &nbsp; &nbsp; &nbsp;&nbsp; 经济观察报：您认为什么样的医疗机构是最完美的？</strong>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; <strong>胡澜：</strong>医疗机构是围绕患者的需求来做服务的，患者的需求是什么？在医疗质量和安全上就是一个核心的要素，这是他们来医院最核心和最基本的需求。其次是得到很好的对待，可以被尊重、被呵护。医疗机构是否完美就看病人的评价是否是完美的，所以医院要做的就要围绕患者的需求，甚至可以超出患者的需求，提供高品质或者感动式的服务。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 边伯贤</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
  <strong> &nbsp; &nbsp; &nbsp;&nbsp; </strong>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; <strong></strong></p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
</div>