<div class="container">
  <h1 style="text-align: center">医疗保健：改革配套政策不能及时出台</h1>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
  <strong>[摘要]</strong>
  <p></p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 上周省级药械招标动态。吉林2013年度药品集中采购公布限价结果并进行正式报价，招标进度严重落后。宁夏开始新版基药招标，只针对国家基药目录的520个药品，采取“双信封”模式，分两个质量层次，每种层次单独中标，总体看偏中性，但是对新版GMP采取一票否决制，即如果投标企业中有通过新版GMP认证的，其它未通过企业自动退出。浙江计划陆续将所有未进行以省为单位集中采购的医用耗材都逐步纳入阳光采购目录，首批开展放射影像类耗材采购。福建发布2013年高值医用耗材中标结果，从中标价格和中标数量上看比较严格。</p>
  <p></p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 上周重要政策。国家卫计委成立卫生计生老龄工作领导小组，组长由一名副主任担当。国家食药总局征求《第一类医疗器械产品目录》以及部分子目录意见，由于新修定的《医疗器械监督管理条例》（尚未正式发布执行）明确对第一类医疗器械采用备案管理，这次修订也是为了配合最新监管条例的出台。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
  <p></p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 卓越推：本期卓越推推荐博晖创新。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
  <p></p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 风险提示：新一轮医药招标价格过低，改革配套政策不能及时出台。</p>
</div>