<div class="container">
  <h1 style="text-align: center">淄博临淄免费为650名贫困患者治白内障 推进医疗改革</h1>
  <strong> &nbsp; &nbsp; &nbsp;&nbsp; 关键词：淄博 白内障 医疗卫生 贫困患者 卫生系统</strong>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; [提要]3月11日，淄博临淄区召开全区卫生工作会议，临淄区卫生局党委书记、局长刘先伟作工作报告，总结了过去一年的卫生工作成绩，并就2014年的卫生工作进行了部署。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 3月11日，淄博临淄区召开全区卫生工作会议，临淄区卫生局党委书记、局长刘先伟作工作报告，总结了过去一年的卫生工作成绩，并就2014年的卫生工作进行了部署。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 2013年，临淄区卫生系统以深化医改为主线，全力以赴迎接全国卫生城市复审，着力实施卫生重点项目，统筹推进各项卫生工作，卫生事业获得了长足进步。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 基本药物制度有序推行，药品耗材招标采购日趋规范。8处卫生院、330处村卫生室全部实施了基本药物制度，4家公立医院基本药物使用比例达到35%以上。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 县级公立医院综合改革不断深化，医院公益性进一步体现。研究出台了公立医院改革实施意见和医疗服务价格调整方案，全区4家县级公立医院全部取消药品加成，实施零差价销售，医疗服务价格调整后增加的收费，纳入医保报销范围。减少的收入，除上级财政补助外，由区财政予以补偿。运行以来，县级公立医院门诊人均收费同比下降9.2%，门诊每人次药品费用同比下降16.06%，每床日药品费用同比下降18.15%，总药品销售收入同比减少7.7%。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 重大公共卫生项目取得新进展。发放住院分娩补助2426人，“两癌”和盆底功能障碍筛查3000人；累计为650名贫困患者免费实施了白内障手术，为6295名适龄儿童免费实施了窝沟封闭。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 2014年，临淄区卫生系统将稳步推进县级公立医院综合改革，巩固完善基本药物制度和基层运行新机制，进一步规范药品耗材集中招标采购，提高基本公共卫生服务均等化水平和基层医疗机械服务能力。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 根据工作部署，临淄区将启动实施“乡镇卫生院基本医疗服务能力提升工程”，开展卫生院标准化建设，力争在1至2年时间内，各卫生院全部达到省级标准；利用3至5年的时间，在城区设立4处卫生服务中心，规划和调整卫生服务站的建设，逐步建立健全城市全社区卫生服务体系。年底，至少建立1所二级康复医院或以康复医学科为主的综合医院。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 实习记者 曲心健 通讯员 李庚源 报道</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
</div>