<div class="container">
  <h1 style="text-align: center">医疗改革中还存在突出矛盾张八五代表建议 建立县级公立医</h1>
  <p> </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 本报北京3月11日讯　记者陈丽平　宁夏回族自治区发改委主任张八五代表建议,国家建立对县级公立医院的财政补偿机制,并加大对中西部地区的倾斜力度。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 张八五说,通过五年多的医改,基层群众看病就医的公平性、便利性显著提高。但是,随着医改进入深水区,更多体制性、结构性的深层次改革还处在探索之中,也还存在着一些突出的矛盾和问题。财政补偿机制不完善与县级以下医疗机构坚持公益性之间存在矛盾。目前,县级医疗机构人员编制紧缺,医院聘用人员超过一半以上,财政只安排编制人员基本工资的60%左右,应由财政安排的医院基本建设和大型设备购置费用不到位,转嫁为医院自行承担。医院需要依靠赚取大量的医疗收入来维持人员工资、偿还债务以及维持正常运转,致使大处方、大检查等过度医疗行为较为普遍,公立医院不可能实现公益性目的；国家每年对基层医疗卫生机构实施国家基本药物制度之后的经常性收支差额给予补助,不足部分要求县级政府给予保障,但目前有些县级政府没有落实国家要求,基层医疗机构还需要负担部分运行经费。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 为此,张八五代表建议,国家建立县级公立医院财政补偿机制,对县级医疗机构人员基本工资足额预算,对编外人员的基本工资给予一定比例的补助；支持县级公立医院化解债务；研究制定县级医院取消药品加成后的补偿政策,建议参照目前对基层医疗机构及村卫生室的补偿办法,建立对县级公立医院取消药品加成后的补偿机制,真正切断“以药补医”的利益链条；加大对县级医院基本建设、医疗设备和信息化建设等能力建设的投入,扭转公立医院的逐利行为,建立公立医院维护公益性、调动积极性、保障可持续的运行新机制。来源法制日报——法制网)</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; </p>
</div>