<style>
    p{
        word-break: break-all !important;

    }
    .box-title {
        height: 43px;
        line-height: 43px;
        border-bottom: 1px solid #e5e5e5;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#f4f4f4);
        background: -ms-linear-gradient(top, white, #f4f4f4);
        background: -moz-linear-gradient(top, white, #f4f4f4);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f4f4f4));
        background: -webkit-linear-gradient(top, white, #f4f4f4);
        background: -o-linear-gradient(top, white, #f4f4f4);}
</style>
<div class="container">

  <div class="index_box" style="margin-top:-10px;">
    <p class="box-title font-18 font-yahei"style="padding-left:15px;"> 案例综述</p>
    <div class=" lineheight-30 font-12" style="padding:15px 40px;">
      <h2 style="text-align: center" class="font-yahei">积极推进医疗卫生体制改革 ——访市政协委员秦小飞</h2>
      <p><span class="pull-right font-14" style="color:#ccc;margin-right:80px;"><span style="margin-right:15px;">2014-03-17 18：00</span><span style="margin-right:15px;">本报记者 赵改荣</span><span style="margin-right:15px;"></span>  </span></p>
      <div style="clear:both;"></div>
      <div  style="margin-top:40px;">
        <div class="container">


  <p> &nbsp; &nbsp; &nbsp;&nbsp; “作为一名政协委员，我最关心的问题是新乡医疗卫生体制的改革。”市政协委员、河南亚华置业有限公司总经理秦小飞开门见山地说。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 医疗问题是关系国计民生的根本问题。十八届三中全会提出发展成果要更多更公平惠及全体人民，必须加快社会事业的改革，解决好人民群众最关心最直接最现实的利益问题，更好地满足人民要求。“作为人口密集的新乡市必须有所作为，在规范药品市场、完善医疗服务体系、深化卫生体制改革上进行有益的尝试和探索。”秦小飞说。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 在谈到如何推进医疗卫生体制改革，让更多的人享受到更好的医疗服务时，秦小飞说，我们应该完善县(区)医院管理体制，整合部分县(区)小型医院，使医院更具有综合性。要加大投入，引进先进的设备，学习先进的医疗技术和理念，从各个方面吸引医疗技术较高的医生，从而整体提高县(区)医院的医疗水平，方便群众就近看病，也可以缓解大型医院人满为患以致拖延患者治疗时间的难题。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 如何让群众都能看得起病，享受到更优质的医疗服务？秦小飞有自己的理解。她说，新乡必须推进公立医院改革，鼓励民营资本参与公立医院重组。要扶持民营医院发展，增加个体医疗。只有有了竞争，医院服务病人的态度才会越来越好，人才才能得到高效利用，患者看病所需费用也会有所降低，群众才能看得起病。</p>
  <p> &nbsp; &nbsp; &nbsp;&nbsp; 秦小飞说，新乡民营医疗机构不少，如何让其更好发展、更好满足群众需求？政府部门应加强对民营医院的监督管理，简化其审批程序等。</p>
</div>
          </div>
        </div>
      </div>
    </div>