<div class="container" style="margin-top:-20px;">
<div class="row">
  <div class="col-md-12 " style="margin-top:10px;padding:0px;">
    <div class="index_box" style="padding-bottom:10px;">
      <div class="box-title" style="padding-left:15px">
        <p class="pull-left"><strong><span class="font-18 font-yahei "><%= @block_content.title %></span></strong></p>
      </div>
      <div class="col-md-12" style="padding-left:50px;padding-right:50px;">
        <h1 class="text-center font-yahei font-24"><strong><%= @block_content.title %></strong></h1>
        <p><%= raw @block_content.content %></p>
      </div>
    </div>
  </div>
</div>
</div>