<%= javascript_tag do %>
    $(function()
    {
    var channel_json = <%= @channel.to_json(
                                   :include => {
                                           :messages => {
                                                   :include=>:user
                                           }
                                   }).html_safe %>
    });
<%- end %>
<style type="text/css">
.chatcontainer {margin:10px;font-family:Arial,"Microsoft YaHei"}
#messagebox{
    height:435px;
}
</style>
<script type='text/javascript'>
        jQuery(document).ready(function(){
            setTimeout(bar,1000);
            setTimeout(scroll,1010);

        });
        function bar(){
            jQuery("#messagebox").mCustomScrollbar({
                scrollButtons:{
                    enable:true
                }
            });
        }
        function scroll(){
            jQuery("#messagebox").mCustomScrollbar("scrollTo","bottom");
        }
 </script>
<div style="background:#fff;border:1px solid #dde0e3;height:515px;position:relative">
 <div class="chatcontainer">
 </div>
<div class="chatbox_container">
</div>
</div>