<script type="text/javascript">
    /*$(function() {
     $("div.holder").jPages({
     containerID: "video_list",
     perPage : 6,
     first       : "首页",
     previous    : "上一页",
     next        : "下一页",
     last        : "末页"
     });
     });*/
</script>
<div class="v_show">
  <div class="v_caption2">
    <p title="会诊成员" style="margin:0px;">
      会诊成员
      <span class="pull-right">
        <button type="button" id="upload_video" class="btn btn_gray btn-xs">重启会话</button>
      </span>
    </p>


    <div id="video_list">
      <%@consultation.peerUsers.each do |user|%>

          <div class="consultation_photo" style="">
            <div class="pull-left consultation_photo_div" style="">
              <%#=image_tag("#{user.photo}", alt:"default",:onclick=>"clickvideo(#{user.id})",:width => "36",:height => "50" , :class => "", :style => "margin-left:-1px;margin-top:-2px;"  ) %>
              <img src="
              <% if !user.photo.nil?&user.is_doctor?%>
                <%= default_access_url_prefix_with(user.photo) %>
              <%else%>
               /default.png
              <% end %>
              " alt="default" onclick="clickvideo(<%= user.id%>)" width = "36" height = "50"  class = "" style = "margin-left:-1px;margin-top:-2px;" >
            </div>
            <div class="font-yahei pull-left" style="line-height:36px;margin:5px 0px;">
              <% if user.is_doctor? %>
                  <%=link_to "#{user.name}","/doctors/doctorpage/#{user.id}" %>
              <% else %>
                  <%#=link_to "#{user.name}","/patients/patientpage/#{user.id}" %>
                  患者
              <% end %>
            </div>
          </div>
          <div style="clear:both;"></div>

      <% end %>


    </div>

    <div class="holder">    </div>

  </div>
</div>

