<script type="text/javascript">
    /*$(function() {
        $("div.holder").jPages({
            containerID: "video_list",
            perPage : 6,
            first       : "首页",
            previous    : "上一页",
            next        : "下一页",
            last        : "末页"
        });
    });*/
</script>
<div class="v_show">
  <div class="v_caption2">
    <button type="button" id="upload_video">开启视频</button></span></h2>
  </div>
</div>
<div style="height:20px;"></div>
<div class="clear"></div>