
<html>
<head>
  <title><%=@consultation.name%></title>
</head>
<body>

<div class="container-fluid">
  <div class="pull-left">
    <div class="diagnose space_6">
      <h2>聊天对话</h2>
      <div class="diagnose_content">
        <%= render 'web_chat'%>
      </div>
    </div>
  </div>
  <div class="pull-right consultation_right">

    <div class="consultation_video">

      <%= render 'consultation_video'%>
    </div>
    <div class="clear"></div>
    <!--视频列表-->
    <%javascript_include_tag "consultation/jPages" %>
    <%stylesheet_link_tag "consultation/videolist" %>
    <%= render "video_list" %>
  </div>
  <div class="clear"></div>

</div>

</body>
</html>