
  <% if !@appointments_notices.empty? %>
      <div class="" id="otherNotices" style="">
      <a href='/notifications/pat_app_notices_all'><div class="btn btn_g" style="width:100%;">消息提醒(<%=@appointments_notices.count%>)</div></a>
      </div>
  <% end %>
  <% if !@consultations_notices.empty? %>
      <div  id=""  style="">
        <a href='/notifications/pat_con_notices_all'><div  class="btn btn_g" style="width:100%;">会诊提醒(<%=@consultations_notices.count%>)</div></a>
      </div>
  <% end %>

  <% if !@notes_share_notices.empty? %>
      <div  id=""  style="">
        <a href='/notifications/notes_share_notices_all'><div  class="btn btn_g" style="width:100%;">分享提醒(<%=@notes_share_notices.count%>)</div></a>
      </div>
  <% end %>

