
  <% if !@appointments_notices.empty? %>
      <div class="index_box" id="otherNotices" style="margin-top:10px;padding-bottom:10px;">
      <a href='/notifications/pat_app_notices_all'><div>消息提醒(<%=@appointments_notices.count%>)</div></a>
      </div>
  <% end %>

