<div class='container'>
  <div class="col-md-4 col-md-offset-2">
    <div class="panel panel-success">

      <div class="panel-body">
            <p class="text-center e_pw">
              <a href='/mailers/to_retrieve_pwd_page'>
                <span class="glyphicon glyphicon-envelope"></span>
                <br />邮箱找回
              </a>
            </p>
      </div>
    </div>
  </div>


<div class="col-md-4 col-md-offset-1">
  <div class="panel panel-info">

    <div class="panel-body">
      <p class="text-center m_pw">
        <a href='/phone/mobile_retrieve_page'>
          <span class="glyphicon glyphicon-phone-alt"></span>
          <br />手机号找回
        </a>
      </p>
    </div>
  </div>
</div>
</div>