<div class='container'>
  <div class="text-center"><a href='/mailers/to_retrieve_pwd_page'><h2><button>邮箱找回</button></h2></a></div>
  <div class="text-center"><a href='/phone/mobile_retrieve_page' ><h2><button>手机号找回</button></h2></a></div>
</div>