<div class="col-md-9">
<div class="row">
<div id="doctor_list" class="col-md-12 col-xs-12 col-sm-12 index_box" style="margin-top:10px;">
<h3 class="font-18 font-yahei" style="color:#464b4e;"><b>按医院找医生</b></h3>
<ul class="tabbtn" id="fadetab">
<% if !@index_provinces.nil? && @index_provinces.count > 0  %>
    <% @index_provinces.each_with_index do |province,index|  %>
       <% if index ==1  %>
              <li class="current"><a href=""><%=province.name  %></a></li>
       <%else %>
              <li> <a href=""><%=province.name  %></a></li>
        <%end %>
    <%end %>
<% end  %>

</ul>
<div style="clear:both;"></div>
<!--tabbtn end-->
<div class="tabcon" id="fadecon">
  <!--北京医院-->

  <%  @hospitals.each do |hosps|  %>
    <% total = hosps.count%>
    <% column = 6%>
    <div class="sublist">
      <table style="width:100%;">
        <% if total > 0  %>
            <%  line = total/column %>
            <% hosps.each_with_index  do |hosp,index| %>
                <% if index%6 ==0  %>
                 <tr>
                <%end  %>

                <td><a><%= hosname_str_sub(hosp.name) %></a></td>
                <%if (index+1)%6 == 0  %>
                    </tr>
                <%else  %>
                    <%if (index+1) ==total %>
                        <!--补充&nbsp-->
                      <%  left= column- (index+1)%column -1%>
                      <%  for i in (0.. left) %>
                         <td><a>&nbsp;</a></td>
                       <% end %>
                        </tr>
                    <%end %>

                <%end  %>
            <% end %>

        <% end %>



      </table>
    </div>


    </tr>
<%end  %>



<!--<div class="sublist">-->
    <!--<table style="width:100%;">-->
      <!--<tr>-->
        <!--<td><a>协和医院<span>(1293)</span></a></td>-->
        <!--<td><a>301医院<span>(1385)</span></a></td>-->
        <!--<td><a>北医三院<span>(785)</span></a></td>-->
        <!--<td><a>同仁医院<span>(676)</span></a></td>-->
        <!--<td><a>北京中医院<span>(390)</span></a></td>-->
        <!--<td><a>人民医院<span>(904)</span></a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><a>阜外医院<span>(1293)</span></a></td>-->
        <!--<td><a>天坛医院<span>(785)</span></a></td>-->
        <!--<td><a>北大医院<span>(864)</span></a></td>-->
        <!--<td><a>积水潭医院<span>(245)</span></a></td>-->
        <!--<td><a>安贞医院<span>(390)</span></a></td>-->
        <!--<td><a style="color:#27BAB4">更多》</a></td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->


  <!---->
  <!--&lt;!&ndash;上海医院&ndash;&gt;-->
  <!--<div class="sublist">-->
    <!--<table style="width:100%;">-->
      <!--<tr>-->
        <!--<td><a>华山医院<span>(1293)</span></a></td>-->
        <!--<td><a>上海九院<span>(785)</span></a></td>-->
        <!--<td><a>中山医院<span>(676)</span></a></td>-->
        <!--<td><a>仁济医院<span>(462)</span></a></td>-->
        <!--<td><a>长海医院<span>(390)</span></a></td>-->
        <!--<td><a>五官科医院<span>(904)</span></a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><a>上海肿瘤<span>(1293)</span></a></td>-->
        <!--<td><a>儿童医学中心<span>(785)</span></a></td>-->
        <!--<td><a>长征医院<span>(864)</span></a></td>-->
        <!--<td><a>上海一院<span>(245)</span></a></td>-->
        <!--<td><a>复旦儿科<span>(390)</span></a></td>-->
        <!--<td><a style="color:#27BAB4">更多》</a></td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
  <!--&lt;!&ndash;广东医院&ndash;&gt;-->
  <!--<div class="sublist">-->
    <!--<table style="width:100%;">-->
      <!--<tr>-->
        <!--<td><a>省中医院<span>(1293)</span></a></td>-->
        <!--<td><a>省人民医院<span>(1385)</span></a></td>-->
        <!--<td><a>中山二院<span>(676)</span></a></td>-->
        <!--<td><a>中山一院<span>(462)</span></a></td>-->
        <!--<td><a>深圳北大医院<span>(390)</span></a></td>-->
        <!--<td><a>广州妇儿中心<span>(904)</span></a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><a>中山三院<span>(1293)</span></a></td>-->
        <!--<td><a>中大肿瘤医院<span>(4326)</span></a></td>-->
        <!--<td><a>眼科中心<span>(785)</span></a></td>-->
        <!--<td><a>深圳儿童医院<span>(864)</span></a></td>-->
        <!--<td><a>珠江医院<span>(390)</span></a></td>-->
        <!--<td><a style="color:#27BAB4">更多》</a></td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
  <!--&lt;!&ndash;四川医院&ndash;&gt;-->
  <!--<div class="sublist">-->
    <!--<table style="width:100%;">-->
      <!--<tr>-->
        <!--<td><a>华西医院<span>(1293)</span></a></td>-->
        <!--<td><a>省中医院<span>(785)</span></a></td>-->
        <!--<td><a>华西妇儿医院<span>(676)</span></a></td>-->
        <!--<td><a>华西口腔医院<span>(462)</span></a></td>-->
        <!--<td><a>成都妇产科医院<span>(390)</span></a></td>-->
        <!--<td><a>成都军总医院<span>(904)</span></a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><a>绵阳中心医院<span>(1293)</span></a></td>-->
        <!--<td><a>成都第一医院<span>(4326)</span></a></td>-->
        <!--<td><a>省肿瘤医院<span>(785)</span></a></td>-->
        <!--<td><a>省妇幼保健院<span>(245)</span></a></td>-->
        <!--<td><a>泸医附属医院<span>(390)</span></a></td>-->
        <!--<td><a style="color:#27BAB4">更多》</a></td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
  <!--&lt;!&ndash;山东医院&ndash;&gt;-->
  <!--<div class="sublist">-->
    <!--<table style="width:100%;">-->
      <!--<tr>-->
        <!--<td><a>济南儿童医院<span>(1293)</span></a></td>-->
        <!--<td><a>济南中心医院<span>(1385)</span></a></td>-->
        <!--<td><a>山大口腔医院<span>(785)</span></a></td>-->
        <!--<td><a>烟台毓璜顶医院<span>(462)</span></a></td>-->
        <!--<td><a>齐鲁医院<span>(4326)</span></a></td>-->
        <!--<td><a>山东省中医院<span>(785)</span></a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><a>省立医院<span>(1293)</span></a></td>-->
        <!--<td><a>齐鲁医院<span>(4326)</span></a></td>-->
        <!--<td><a>山东省中医院<span>(785)</span></a></td>-->
        <!--<td><a>济南军总医院<span>(245)</span></a></td>-->
        <!--<td><a>青岛市立医院<span>(390)</span></a></td>-->
        <!--<td><a style="color:#27BAB4">更多》</a></td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
  <!--&lt;!&ndash;江苏医院&ndash;&gt;-->
  <!--<div class="sublist">-->
    <!--<table style="width:100%;">-->
      <!--<tr>-->
        <!--<td><a>江苏省中医院<span>(1293)</span></a></td>-->
        <!--<td><a>南京军总医院<span>(1385)</span></a></td>-->
        <!--<td><a>省人民医院<span>(785)</span></a></td>-->
        <!--<td><a>南京鼓楼医院<span>(676)</span></a></td>-->
        <!--<td><a>南京儿童医院<span>(4326)</span></a></td>-->
        <!--<td><a>南京妇幼保健院<span>(785)</span></a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><a>南京脑科医院<span>(1293)</span></a></td>-->
        <!--<td><a>苏北人民医院<span>(4326)</span></a></td>-->
        <!--<td><a>中大医院<span>(785)</span></a></td>-->
        <!--<td><a>省肿瘤医院<span>(245)</span></a></td>-->
        <!--<td><a>省妇幼保健中心<span>(390)</span></a></td>-->
        <!--<td><a style="color:#27BAB4">更多》</a></td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
  <!--&lt;!&ndash;湖北医院&ndash;&gt;-->
  <!--<div class="sublist">-->
    <!--<table style="width:100%;">-->
      <!--<tr>-->
        <!--<td><a>武汉同济医院<span>(1293)</span></a></td>-->
        <!--<td><a>武汉协和医院<span>(1385)</span></a></td>-->
        <!--<td><a>湖北省中医院<span>(676)</span></a></td>-->
        <!--<td><a>省妇幼保健院<span>(462)</span></a></td>-->
        <!--<td><a>中南医院<span>(4326)</span></a></td>-->
        <!--<td><a>武汉妇保中心<span>(785)</span></a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><a>省口腔医院<span>(1293)</span></a></td>-->
        <!--<td><a>武汉陆军总医院<span>(4326)</span></a></td>-->
        <!--<td><a>武汉市中医院<span>(785)</span></a></td>-->
        <!--<td><a>武汉第四医院<span>(864)</span></a></td>-->
        <!--<td><a style="color:#27BAB4">更多》</a></td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
  <!--&lt;!&ndash;湖南医院&ndash;&gt;-->
  <!--<div class="sublist">-->
    <!--<table style="width:100%;">-->
      <!--<tr>-->
        <!--<td><a>湘雅医院<span>(1293)</span></a></td>-->
        <!--<td><a>湘雅二医院<span>(1385)</span></a></td>-->
        <!--<td><a>省第二人民医院<span>(676)</span></a></td>-->
        <!--<td><a>省人民医院<span>(462)</span></a></td>-->
        <!--<td><a>湘雅三医院<span>(4326)</span></a></td>-->
        <!--<td><a>省儿童医院<span>(785)</span></a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><a>省肿瘤医院<span>(1293)</span></a></td>-->
        <!--<td><a>省妇幼保健院<span>(4326)</span></a></td>-->
        <!--<td><a>省中医院<span>(785)</span></a></td>-->
        <!--<td><a>长沙市中心医院<span>(864)</span></a></td>-->
        <!--<td><a style="color:#27BAB4">更多》</a></td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
  <!--&lt;!&ndash;浙江医院&ndash;&gt;-->
  <!--<div class="sublist">-->
    <!--<table style="width:100%;">-->
      <!--<tr>-->
        <!--<td><a>浙大一院<span>(1293)</span></a></td>-->
        <!--<td><a>浙医二院<span>(1385)</span></a></td>-->
        <!--<td><a>省中医院<span>(785)</span></a></td>-->
        <!--<td><a>浙大妇产医院<span>(676)</span></a></td>-->
        <!--<td><a>温医二院<span>(4326)</span></a></td>-->
        <!--<td><a>杭州市中医院<span>(785)</span></a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><a>邵逸夫医院<span>(1293)</span></a></td>-->
        <!--<td><a>浙大儿童医院<span>(4326)</span></a></td>-->
        <!--<td><a>温医一院<span>(785)</span></a></td>-->
        <!--<td><a>李惠利医院<span>(864)</span></a></td>-->
        <!--<td><a style="color:#27BAB4">更多》</a></td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->



</div>
<script type="text/javascript">
    $(document).ready(function($){
        //淡隐淡现选项卡切换
        $("#fadetab").tabso({
            cntSelect:"#fadecon",
            tabEvent:"mouseover",
            tabStyle:"fade"
        });

    });
</script>
<!--tabcon end-->
<div  class="hos_area">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>
        <b>华北</b>
        <a>北京</a>
        <a>天津</a>
        <a>河北</a>
        <a>山西</a>
        <a>内蒙古</a>

      </td>
      <td>
        <b>中南</b>
        <a>广东</a>
        <a>广西</a>
        <a>海南</a>
        <a>湖北</a>
        <a>湖南</a>
        <a>河南</a>
      </td>
    </tr>
    <tr>
      <td>
        <b>东北</b>
        <a>辽宁</a>
        <a>吉林</a>
        <a>黑龙江</a>

      </td>
      <td>
        <b>西南</b>
        <a>四川</a>
        <a>重庆</a>
        <a>云南</a>
        <a>贵州</a>
      </td>
    </tr>
    <tr>
      <td>
        <b>华东</b>
        <a>上海</a>
        <a>江苏</a>
        <a>浙江</a>
        <a>山东</a>
        <a>安徽</a>
        <a>福建</a>
        <a>江西</a>
      </td>
      <td>
        <b>西北</b>
        <a>陕西</a>
        <a>甘肃</a>
        <a>青海</a>
        <a>宁夏</a>
        <a>新疆</a>
        <a>西藏</a>
      </td>
    </tr>
  </table>
</div>




</div>
</div>
</div>



