<% provide(:title, 'About Us') %>
<div style="height:60px"></div>
<h3 class="health_record_title2"><span style="margin-left:10px;display:inline-block;">关于我们<%#=t('.about us') %></span></h3>
<div style="width:1120px;padding:20px 40px;background:#89b7e0;color:#fff;font-family:'微软雅黑','黑体';font-size:16px;margin-top:-10px;">
  清华大学玉泉医院（清华大学第二附属医院）， 1983年12月正式开院，是一所向社会开放的综合性医院。2003年4月10日正式划归清华大学。
<%#=t('.introduction') %>
</div>