<% provide(:title, 'About Us') %>
<div class="container">
<h3 class="font-yahei title-bg font-18"><span class="icon-title"></span>关于我们<%#=t('.about us') %></h3>
<div class="row">
  <div class="col-md-12">
    清华大学玉泉医院（清华大学第二附属医院）， 1983年12月正式开院，是一所向社会开放的综合性医院。2003年4月10日正式划归清华大学。
    <%#=t('.introduction') %>
  </div>
</div>
</div>