<% provide(:title, 'About Us') %>
<div style="height:60px"></div>
<h3 class="health_record_title2"><span style="margin-left:10px;display:inline-block;"><%=t('.about us') %></span></h3>
<div style="width:1120px;padding:20px 40px;background:#89b7e0;color:#fff;font-family:'微软雅黑','黑体';font-size:16px;margin-top:-10px;">

<%=t('.introduction') %>
</div>