<% provide(:title, 'Contact') %>
<div style="height:60px"></div>
<h3 class="health_record_title2" style="width:1200px;">联系我们<%#=t('.contact us') %></h3>
<div style="width:1150px;padding:20px 40px;background:#89b7e0;margin-top:-10px;color:#fff;font-family:'微软雅黑','黑体';font-size:16px;">
    <ul class="contact list-unstyled">
      <li><span class="Font14">名称：</span>清华大学玉泉医院</li>
      <li><span class="Font14">地址：</span>北京石景山区石景山路5号清华大学玉泉医院(清华大学第二附属医院)</li>
      <li><span class="Font14">网址:</span>http://www.yuquanhosp.com</li>
      <li><span class="Font14">定点医疗机构编码：</span>07110003 </li>
      <li><span class="Font14">邮编：</span>100049 <span class="Font14">电话：</span>010-88257755（总机）</li>
      <li><span class="Font14">E-mail:</span>yuanzhang@mail.tsinghua.edu.cn    zhao_200808@sohu.com</li>
      <li><span class="Font14">乘车路线：</span>地铁玉泉路站</li>
      <li><span class="Font14">公交：</span>337、373、76、运通120、728、941、389等，玉泉路站向西200米路北</li>
      <li><span class="Font14">首都机场：</span>乘坐机场大巴至公主坟换乘76、728、运通120、373等到玉泉路站向西200米</li>
      <li> <span class="Font14">北京站：</span>直接坐地铁到玉泉路下 <span class="Font14">北京西站：</span>373、941至玉泉路站下往西行200米</li>
    </ul>
  </div>
