<div class="container" style="margin-top:-20px;">
  <div class="row index_box" style="margin-top:10px;">
   <div class="col-md-12" style="padding:40px;">
     <p class="l_nav">您目前位置：<a href="/">首页</a>/<a>治疗新技术</a></p>
     <div class="col-md-12">
     <div class="row jg">
       <div class="col-md-3">
         <%= image_tag("#{default_access_url_prefix_with('assets/yiyong.jpg')}", alt: '清华大学玉泉医院', title: '微波消融', style: "width:100%;") %>
       </div>
       <div class="col-md-9 xiangmu_list_content">
         <p class="medical_title"><a href="/wbxr">微波消融</a></p>
         微波消融主要利用CT的图像清晰，无创无辐射和实时直接监控等特点，用专门的治疗针经皮肤穿刺进入肝脏肿瘤内进行治疗，直接造成整个肿瘤坏死。实际上其本意可以拓展到把整个肿瘤灭活切除掉。当前临床常用的定位引导方法有超声、CT、MRI及X线，主要的治疗方法有向肿瘤内注入酒精、醋酸或导入能量如：微波、射频、激光及高强聚焦超声。引起凝固坏死。其治疗方式可以经皮做，内窥镜下做、腹腔镜下做，也可以手术当中做。主要适应证范围已经从肝癌、外周型肺癌、肾癌、骨癌、乳腺癌扩展到临床的各种实体瘤。其特点是微创、精确，能够造成整个肿瘤的完全坏死而对机体的损伤和副作用较轻较小。<br>
         微波消融治疗不但没有放疗、化疗所造成如：脱发、乏力、厌食、白细胞下降等副作用，而且还具有增加机体免疫力的作用。我国肝癌病人85%合并有肝硬化，产生一系列严重问题，严重限制了手术切除，治疗十分棘手，所以在治疗癌肿的同时，要强调对肝脏的保护，强调治疗方法的安全性和病人机体可耐受性。而且，有的肝癌长的部位特殊，多发性以及肝转移癌的患者，往往不能手术，或者不能完全切除癌灶。而微波消融治疗仍能达到很好的效果，至少也可达到减少肿瘤负荷的作用，以此达到与癌共生，延长生命，提高生活质量。其次，微创消融治疗方式也极大的减轻了患者的痛苦，易于患者接受。不开刀也能治好癌症已经不是梦想而是现实。
       </div>
     </div>
     </div>
     <div style="clear:both;"></div>
     <hr />
     <div class="col-md-12">
       <div class="row jg">
         <div class="col-md-3">
           <%= image_tag("#{default_access_url_prefix_with('assets/caoshengjieru2.jpg')}", alt: '清华大学玉泉医院', title: '微波消融', style: "width:100%;") %>
         </div>
         <div class="col-md-9 xiangmu_list_content">
           <p class="medical_title"><a href="/csjr">超声介入肿瘤治疗</a> </p>
           超声介入是在超声显像基础上为进一步满足临床诊断和治疗的需要而发展起来的一门新技术。其主要特点是在实施时超声的监视或引导下，完成各种穿刺活检、X线造影以及抽吸、插管、注药治疗等操作，可以避免某些外科手术，达到与外科手术相的效果。
           <br>
           介入性超声是现代超声医学的一个重要分支，是现代超声显像基础上为进一步满足临床诊断和治疗的需要发展起来的一门新技术，发展迅速，应用广泛，在现代介入性影像学中占有重要地位。 其主要特点是在实时超声的监视或引导下，完成各种疾病穿刺活检、超声造影以及抽吸、插管、注药治疗等操作，具的实时显示、安全、无创伤或创伤小、灵敏性高、引导准确、无放射性损伤、操作简便、费用低廉，并发症少等优点，如肝肾囊肿、卵巢囊肿的超声引导下硬化治疗已有效地取代了以往的手术治疗，各种肿瘤的穿刺活检则无需要开刀就可获得组织病理学的确诊，如甲状腺、浅表组织和肿瘤的穿刺活检，肝脏、胸腔、纵膈及肺等腹腔脏器肿瘤的穿刺活检等。该技术的应用缩短了患者的确诊时间，减轻患者心理和经济上的负担，提高临床诊断的准确度，指导临床治疗，改善预后，因而在全国范围得到广泛普及开展，并向超声引导下肿瘤治疗方面快步迈进。<br>
           介入性超声的优越性： 1、采用实时彩超引导，易避开重要脏器和大血管，穿刺过程中能监视针尖位置。 2、探头上附加引导器，可保证穿刺沿预定穿刺角度与方向，刺中目标，提高穿刺准确性和可靠性。 3、采用进口自动穿刺检枪，带针苡的细针穿刺，由于针尖锋利，针管韧而有弹性易穿透脏器因此损失小，使患者能及时获得组织病理诊断，缩短临床确诊时间，指导临床治疗方案的采取
         </div>
       </div>
     </div>
     <div style="clear:both;"></div>
     <hr />
     <div class="col-md-12">
       <div class="row jg" style="margin-bottom:30px;">
         <div class="col-md-3">
           <%= image_tag("#{default_access_url_prefix_with('assets/zhongliureliao2.jpg')}", alt: '清华大学玉泉医院', title: '微波消融', style: "width:100%;") %>
         </div>
         <div class="col-md-9 xiangmu_list_content">
           <p class="medical_title"><a href="/zlrl">肿瘤热疗</a></p>
           肿瘤热疗是泛指用加热来治疗肿瘤的一类治疗方法。基本原理是利用物理能量加热人体全身或局部，使肿瘤组织温度上升到有效治疗温度，并维持一定时间，利用正常组织和肿瘤细胞对温度耐受能力的差异，达到既能使肿瘤细胞凋亡、又不损伤正常组织的治疗目的。肿瘤热疗已成为继手术、放疗、化疗和免疫疗法之后的第五大疗法，是治疗肿瘤的一种新的有效手段。<br>
           单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别容易被高热杀伤，因此，热疗可以弥补放疗的不足，联用可以提高疗效。
            <br>
           目前肿瘤热疗最主要和最成熟的应用方式是热灌注化疗。
           <br>
           热灌注化疗使热疗与化疗灌注药物产生有机的互补作用，增加患者对化疗的敏感性。能够更有效地杀伤恶性肿瘤细胞，提高病人的生存质量，延长病人的生命，同时又减轻放疗和化疗所产生的副作用，因而被国际医学界称之为“绿色疗法”。 

         </div>
       </div>
     </div>
     <!-----------------------------------------分页-------------------------------------------------->
     <!--<div style="text-align:center;">-->
       <!--<nav>-->
         <!--<ul class="pagination">-->
           <!--<li class="disabled"><a href="#">«</a></li>-->
           <!--<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>-->
           <!--<li><a href="#">2</a></li>-->
           <!--<li><a href="#">3</a></li>-->
           <!--<li><a href="#">»</a></li>-->
         <!--</ul>-->
       <!--</nav>-->
     <!--</div>-->
   </div>
  </div>
</div>