<div class="container" style="margin-top:-20px;">
  <div class="row index_box" style="margin-top:10px;">
   <div class="col-md-12" style="margin-top:20px;">
     <p class="l_nav">您目前位置：<a>首页</a>/<a>治疗新技术</a></p>
     <div class="col-md-12">
     <div class="row jg">
       <div class="col-md-3">
         <%= image_tag("#{default_access_url_prefix_with('assets/yiyong.jpg')}", alt: '清华大学玉泉医院', title: '微波消融', style: "width:100%;") %>
       </div>
       <div class="col-md-9 xiangmu_list_content">
         <p class="medical_title">微波消融</p>
         1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
         2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别
       </div>
     </div>
     </div>
     <div style="clear:both;"></div>
     <hr />
     <div class="col-md-12">
       <div class="row jg">
         <div class="col-md-3">
           <%= image_tag("#{default_access_url_prefix_with('assets/caoshengjieru2.jpg')}", alt: '清华大学玉泉医院', title: '微波消融', style: "width:100%;") %>
         </div>
         <div class="col-md-9 xiangmu_list_content">
           <p class="medical_title">超声介入肿瘤治疗 </p>
           1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
           2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别
         </div>
       </div>
     </div>
     <div style="clear:both;"></div>
     <hr />
     <div class="col-md-12">
       <div class="row jg" style="margin-bottom:30px;">
         <div class="col-md-3">
           <%= image_tag("#{default_access_url_prefix_with('assets/zhongliureliao2.jpg')}", alt: '清华大学玉泉医院', title: '微波消融', style: "width:100%;") %>
         </div>
         <div class="col-md-9 xiangmu_list_content">
           <p class="medical_title">肿瘤热疗</p>
           1、单独热疗对于放疗、化疗或手术后复发的晚期肿瘤病人，又不宜继续上述治疗者可以单独热疗进行姑息治疗；并可缓解晚期肿瘤顽固性疼痛，提高病人的生活质量。另外对某些表浅肿瘤如乳腺癌、皮肤癌等也可以直接热疗。
           2、联合热疗与化疗联用，即热化疗，可以提高肿瘤内药物的浓度，增强抗肿瘤效应；同时可以降低化疗药物对未加热的正常组织的毒性作用；两者联用还有助于防止和推迟耐药性的产生。另外，位于肿瘤中心部分的肿瘤细胞处于缺氧状态，对放射线不敏感，放疗后不能完全被杀灭，往往成为肿瘤复发的根源，而热疗对于这种分肿瘤细胞作用却特别强；尤其对放疗抗拒的S期细胞特别
         </div>
       </div>
     </div>
     <!-----------------------------------------分页-------------------------------------------------->
     <!--<div style="text-align:center;">-->
       <!--<nav>-->
         <!--<ul class="pagination">-->
           <!--<li class="disabled"><a href="#">«</a></li>-->
           <!--<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>-->
           <!--<li><a href="#">2</a></li>-->
           <!--<li><a href="#">3</a></li>-->
           <!--<li><a href="#">»</a></li>-->
         <!--</ul>-->
       <!--</nav>-->
     <!--</div>-->
   </div>
  </div>
</div>