<% if !@contents.nil?%>
    <% @contents.each do |child|%>
    <li style='color:blue'>
      <%= child.title %>
    </li>
    <div>
     <pre> <%= sanitize child.content %></pre>
    </div>
    <% end %>
<% end %>
