<h1><%#= @title.content %></h1>
<% if !@contents.nil?%>
    <% @contents.each do |child|%>
    <li style='color:blue'>
      <%= child.title %>
    </li>
    <div>
      <%= child.content %>
    </div>
    <% end %>
<% end %>
