<html>
<head>

</head>
<body>
 <div style='width:300px;height:500px;background-color:#51cfc8;padding:15px;'>
 <div id='index_title' style=''>
   <%= render  partial: 'parent_page'%>
 </div>
 <div id='pre_content'>
   <% if !@first_week.nil?%>
       <% @first_week.each do |child|%>
           <p style='color:blue'><%= child.title %></p>
           <div><%= child.content %></div>
       <% end %>
   <% end %>
 </div>
 </div>
</body>
</html>