
<style>
    body,h6{margin:0;padding:0;font-weight:normal;}
    .text{
        font-family:Arial,'微软雅黑';
        color:#666666;
        line-height:30px;
        padding:20px 15px;
    }
    .footer{margin-top:15px;padding:10px;text-align:center;color:#cccccc;border-top:1px solid #cccccc;}
</style>
<article class="text">
  <div id='index_title' style=''>
    <%= render  partial: 'parent_page'%>
  </div>
  　  <div id='pre_content'>
  <% if !@first_week.nil?%>
      <% @first_week.each do |child|%>
          <li style='color:blue'><%= child.title %></li>
          <div><%= child.content %></div>
      <% end %>
  <% end %>
</div>
</article>
<footer class="footer">
  <h6>华康同邦 版权所有</h6>
</footer>
