<div class="index_modle_container show_content" id="hos_list_tab">
  <div class="show_content_page">
    <% if @home_page %>
        <%= @home_page.content.html_safe %>
    <% end %>
    <div style="clear:both;"></div>
  </div>
  <div style="clear:both;"></div>
</div>


