<!-- Modal  create 诊疗表 -->
<div class="modal fade" id="diagnoseTreatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">创建诊疗</h4>
      </div>


      <form   name="diagnose_treat_form" method="post" id="diagnose_treat_form">
        <div class="modal-body">

          <table style="width:100%;margin:0px auto;">
            <tr>
              <input type="hidden" name="patient_id" value="<%= current_user.patient_id%>">
              <input type="hidden" name="doctor_id" value="">

              <td style="padding-right:5px;">名称: <input type="text" name="name"/></td>
            </tr>
            <tr>
              <td style="padding-right:5px;">时间: <input type="text" name="create_time" id="diagnose_treat_create_time"></td>
            </tr>
            <tr>
              <td style="padding-right:5px;">医生: <input type="text" name="doctor_name"/></td>
            </tr>
          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="diagnose_treat_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    //时间控件,显示时间
    var nowDate = new Date();
    nowDate=nowDate.getFullYear()+'/'+(nowDate.getMonth()+1)+'/'+nowDate.getDate()+'  '+nowDate.getHours()+':'+nowDate.getMinutes();
    $('#diagnose_treat_create_time').datetimepicker({
        lang:'ch',
        value: nowDate,
        timepicker:true,
        customformat:'Y-m-d H:m'
    });



    // ajax 诊疗表添加form 提交
    $('#diagnose_treat_submit').click(function(){
        $.ajax({
            url:'/diagnose_treat/create',
            type:'post',
            data: $('#diagnose_treat_form').serialize(),
            success:function(data){
                $('#diagnoseTreatModal').modal('hide');
                $("#treat_left").html(data)

            },
            error:function(data){
                $('#diagnoseTreatModal').modal('hide');
                alert("添加失败！");
            }
        })
        return false;
    });
</script>