<!-- Modal  create 诊疗表 -->
<div class="modal fade" id="diagnoseTreatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">创建诊疗</h4>
      </div>


      <form   name="diagnose_treat_form" method="post" id="diagnose_treat_form">
        <div class="modal-body">

          <table style="width:100%;margin:0px auto;">
            <tr>

              <input type="hidden" name="patient_id" value="<%= @patient_id%>">
              <input type="hidden" name="doctor_id" value="">

              <td style="padding-right:5px;">名称: <input type="text" name="name"/></td>
            </tr>
            <tr>
              <td style="padding-right:5px;">时间: <input type="text" name="create_time" id="diagnose_treat_create_time"></td>
            </tr>
            <tr>
              <td style="padding-right:5px;">医生: <input type="text" name="doctor_name"/></td>
            </tr>
          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="diagnose_treat_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div>
  </div>
</div>



<!-- Modal  create 主诉表 -->
<div class="modal fade" id="tellerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">修改主诉</h4>
      </div>


      <form   name="teller_form" method="post" id="teller_form">
        <div class="modal-body">

          <table style="width:100%;margin:0px auto;">

            <input type="hidden" name="patient_id" value="<%= @patient_id%>">
            <input type="hidden" name="doctor_id" value="">
            <input type="hidden" name="diagnose_treat_id" value="">

            <tr>
              <td style="padding-right:5px;">主诉者: <input type="text" name="teller"/></td>
            </tr>
            <tr>
              <td style="padding-right:5px;">时间: <input type="text" name="create_time" id="diagnose_treat_create_time"></td>
            </tr>
            <tr>
              <td style="padding-right:5px;">医生: <input type="text" name="doctor_name"/></td>
            </tr>
            <tr>
              <td style="padding-right:5px;">主诉内容: <textarea name="tell_content" rows="5" cols="60"/></td>
            </tr>


          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="teller_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div>
  </div>
</div>



<!-- Modal  create 诊断表 -->
<div class="modal fade" id="diagnoseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">修改诊断</h4>
      </div>


      <form   name="teller_form" method="post" id="diagnose_form">
        <div class="modal-body">

          <table style="width:100%;margin:0px auto;">

            <input type="hidden" name="patient_id" value="<%= @patient_id%>">
            <input type="hidden" name="doctor_id" value="">
            <input type="hidden" name="diagnose_treat_id" value="">


            <tr>
              <td style="padding-right:5px;">时间: <input type="text" name="create_time" id="diagnose_treat_create_time"></td>
            </tr>
            <tr>
              <td style="padding-right:5px;">医生: <input type="text" name="doctor_name"/></td>
            </tr>
            <tr>
              <td style="padding-right:5px;">诊断: <textarea name="content" rows="5" cols="60"/></td>
            </tr>


          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="diagnose_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div>
  </div>
</div>



<!-- 删除诊疗 Modal -->
<div class="modal fade" id="diagnoseTreatDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">删除诊疗</h4>
      </div>
      <div class="modal-body">
             <div id="showTName"></div>
        <!--内容添加-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="destroy()">确定</button>
        <button type="button" class="btn btn-primary">取消</button>
      </div>
    </div>
  </div>
</div>










<script>
    //时间控件,显示时间
    var nowDate = new Date();
    nowDate=nowDate.getFullYear()+'/'+(nowDate.getMonth()+1)+'/'+nowDate.getDate()+'  '+nowDate.getHours()+':'+nowDate.getMinutes();
    $('#diagnose_treat_create_time').datetimepicker({
        lang:'ch',
        value: nowDate,
        timepicker:true,
        customformat:'Y-m-d H:m'
    });


</script>