<div class="row index_box" id="zhenliao" style="margin-top:10px; background:#edeef1;">
<p class="box-title font-18 font-yahei" style="padding-left:15px;margin-bottom:0px;">
  <b class="pull-left">诊疗</b>
  <strong class="pull-right" style="border-left:1px solid #d7d7d7;color:#ababab;font-size:30px;width:45px;display:inline-block;text-align:center;cursor:pointer;" data-toggle="modal" data-target="#diagnoseTreatModal">+</strong>
</p>

  <div id="treat_left">

    <%#= render partial: 'patients/diagnose_treat_left'%>
    </div>
  <div id="treat_right">
    <%#= render partial: 'patients/diagnose_treat_right'%>
  </div>

</div>

<%= render 'patients/diagnose_treat_form'%>

<script type="text/javascript">


        function destroy_treat(id){
            $('#diagnoseTreatDeleteModal').modal('show');
        }


    $.ajax({
        type:'get',
        url:'/diagnose_treat/show_treat_left',
        success:function(data){
            $('#treat_left').html(data)
        },
        error:function(){
            $('#treat_left').html("加载失败！")
        }
    });

    $.ajax({
        type:'get',
        url:'/diagnose_treat/show_treat_right',
        success:function(data){
            $('#treat_right').html(data)
        },
        error:function(){
            $('#treat_rigth').html("加载失败！")
        }
    });
</script>

