<div class="container bgcolor-white" style="margin-top:-20px;">
  <div class="row space">
    <div class="col-md-2 space2">
      <%= render 'photos/photo_form'%>
    </div>
    <div class="col-md-8" style="margin-top:0;padding-top:0;" id="patient-home-notices">

    </div>
    <!--<div class="col-md-2" id="friend_aspect">-->
    <!--</div>-->
  </div>
</div>
<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>
//    $.ajax({
//        type: 'get',
//        url: '/patients/get_aspects',
//        data: 'json',
//        success: function (data) {
//            $('#friend_aspect').html(data)
//        },
//        error: function (data) {
//            console.log(data)
//        }
//    })
$.ajax({
    type:'get',
    url:'/patients/show_notices',
    success:function(data){
        $('#patient-home-notices').html(data)
    },
    error:function(data){

    }
})
   function showflash() {
      $('#flashalert').modal('show');
   }
   function hideflash() {
       $('#flashalert').modal('hide');
   }
   <% if flash[:success] %>
    jQuery(document).ready(function() {
        setTimeout("showflash()",1);
        setTimeout("hideflash()",1500);
    });
   <% end %>
</script>
