
<%= javascript_include_tag 'highstock','exporting','highchartsGrigTheme'%>


<div class="container" style="margin-top:-20px;">
  <div class="row space">
    <div class="col-md-12 " style="margin-top:10px;padding:0px;">
      <div class="col-md-3 col-sm-4 col-xs-6" style="width:13%;padding:0">
        <%= render 'photos/photo_form'%>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-6" id="patient-home-notices" style="width:87%;padding:0 0 0 10px;">
      </div>
    </div>
  </div>
</div>
<div id="blood-div">
  <%= render partial: 'patients/show_blood_glucose'%>
</div>

<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <%# flash.each do |key, value| %>
          <!--<div class="modal-body" id="alert<%#= key %>">-->
            <%#= value %>
          <!--</div>-->
      <%# end %>


    </div>
  </div>
</div>

