<div class="container bgcolor-white" style="margin-top:-20px;">
  <div class="row space">
    <div class="col-md-2 space2">
      <%= render 'photos/photo_form'%>
    </div>
    <div class="col-md-10 space2" style="padding-left:0px;" id="patient-home-notices">

    </div>
  </div>
</div>
<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>

    $.ajax({
        type:'get',
        url:'/notifications/show_patient_notices',
        success:function(data){
            $('#patient-home-notices').html(data)
        },
        error:function(data){

        }
    })
    function showflash() {
        $('#flashalert').modal('show');
    }
    function hideflash() {
        $('#flashalert').modal('hide');
    }
    <% if flash[:success] %>
    jQuery(document).ready(function() {
        setTimeout("showflash()",1);
        setTimeout("hideflash()",1500);
    });
    <% end %>
</script>
