<div class="container bgcolor-white" style="margin-top:-20px;">
  <div class="row space">
    <div class="col-md-2 space2">
      <%= render 'photos/photo_form'%>
    </div>
    <div class="col-md-8" style="margin-top:0;padding-top:0;">
      <h3 class="font-18 font-yahei font-color3"><strong><%=@user['name'] %></strong></h3>
      <div><%=@user['address'] %></div>
      <div><%=@user['email'] %></div>
    </div>
    <div class="col-md-2" id="friend_aspect">
    </div>
  </div>

</div>
<script>
    $.ajax({
        type: 'get',
        url: '/patients/get_aspects',
        data: 'json',
        success: function (data) {
            $('#friend_aspect').html(data)
        },
        error: function (data) {
            console.log(data)
        }
    })
</script>
