<%#= javascript_include_tag 'fullcalendar' %>
<div class="container bgcolor-white" style="margin-top:-20px;">
  <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span><%= @doctor['name'] %>医生的预约安排<%#=t('.doctor_appointment') %></h3>
  <div id='doctorschedule'>

  </div>
</div>
<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>
    $.ajax({
        type:'get',
        url:'/appointment_schedules/doc_schedule?id=<%=@doctor.id%>',
        data:'json',
        success:function(data){
            $('#doctorschedule').html(data)
        },
        error:function(data){
            console.log(data)
        }
    })
    function showflash() {
        $('#flashalert').modal('show');
    }
    function hideflash() {
        $('#flashalert').modal('hide');
    }
    <% if flash[:success] %>
    jQuery(document).ready(function () {
        setTimeout("showflash()", 1);
        setTimeout("hideflash()", 2000);
    });
    <% end %>
</script>