<div class="col-md-6" style="">
  <div class="row">
    <div class="col-md-12 index_box" style="padding:0px;">
      <p class="box-title font-18 font-yahei" style="padding-left:15px;"><span class="pull-right font-14" style="display:inline-block;margin-right:15px;"><a href="#">更多</a></span><b>患者动态</b></p>
      <div class="col-md-12">
        <ul class="list-unstyled font-yahei line_height30">
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军分享了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军测量了血压</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军分享了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军测量了血压</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">患者张小军分享了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>

        </ul>
      </div>
    </div>
  </div>
</div>
<style>
    .padding-left2{padding-left:10px;}
    @media (max-width:985px) {
        .padding-left2{padding-left:0px;}
    }
</style>
<div class="col-md-6" style="">
  <div class="row padding-left2">
    <div class="col-md-12 index_box" style="padding:0px;">
      <p class="box-title font-18 font-yahei" style="padding-left:15px;"><span class="pull-right font-14" style="display:inline-block;margin-right:15px;"><a href="#">更多</a></span><b>医生动态</b></p>
      <div class="col-md-12">
        <ul class="list-unstyled font-yahei line_height30">
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和添加了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和分享了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和添加了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和添加了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>
          <li>
            <a href="" class="font-12" target="_blank"><span class="new_date">2014-08-28 18：32</span><span class="dot_r">吴中和添加了文章《肿瘤》</span></a>
          </li>
          <div class="clearfix"></div>

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>


<div class="index_box"  style="padding-bottom:10px;margin-top:10px;">
  <div class="box-title" style="padding-left:15px">
    <p class="pull-left"><strong><span class="font-18 font-yahei ">我的文章</span></strong> </p>
    <p class="pull-right"  style="">
      <strong style="border-left:1px solid #d7d7d7;color:#ababab;font-size:30px;width:45px;displlay:inline-block;text-align:center;">
        <%= link_to "发文章", new_note_path  %>
      </strong>
    </p>
  </div>

  <div class="col-md-12">

    <ul class="list-unstyled font-yahei line_height30">
      <% if !@notes.empty?%>
        <% @notes.each do |note| %>
              <li>
                <a href="/notes/<%= note.id %>" class="font-12"><span class="new_date"><%= note.created_at.strftime("%Y-%m-%d") %></span><span class="dot"><%= note.head %></span></a>
              </li>
              <div class="clearfix"></div>
          <% end %>
      <% end %>

     <!-- <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-3-17</span><span class="dot">专访美中宜和医院CEO胡澜 医疗机构...</span></a>
      </li>
      <div class="clearfix"></div>
      <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-3-7</span><span class="dot">淄博临淄免费为650名贫困患者治白内障...</span></a>
      </li>
      <div class="clearfix"></div>
      <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-2-27</span><span class="dot">积极推进医疗卫生体制改革 ——访市政协...</span></a>
      </li>
      <div class="clearfix"></div>
      <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-2-15</span><span class="dot">医疗保健：改革配套政策不能及时出...</span></a>
      </li>
      <div class="clearfix"></div>
      <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-1-30</span><span class="dot">改革向深水区推进 医疗产业开启...</span></a>
      </li>
      <div class="clearfix"></div>
      <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="dot">医疗改革中还存在突出矛盾张八五...</span></a>
      </li>
      <div class="clearfix"></div>-->


    </ul>
  </div>
</div>
