<div class="index_box"  style="padding-bottom:10px;">
  <p class="box-title font-18 font-yahei" style="padding-left:15px;"><span class="pull-right font-14" style="display:inline-block;margin-right:15px;"><a href="#">更多</a></span>
    <input class="search-query font-14 pull-right" id="serch" name="" placeholder="查询文章" style="margin-right:10px;margin-top:5px;margin-top:8px \9;width:150px;height:30px;line-height:30px;" type="text">
    <b>文章列表</b>

  </p>
  <div class="col-md-12">

  <ul class="list-unstyled font-yahei line_height30">
    <li>
      <a href="" class="font-12" target="_blank"><span class="new_date">2014-3-17</span><span class="dot">专访美中宜和医院CEO胡澜 医疗机构...</span></a>
    </li>
    <div class="clearfix"></div>
    <li>
      <a href="" class="font-12" target="_blank"><span class="new_date">2014-3-7</span><span class="dot">淄博临淄免费为650名贫困患者治白内障...</span></a>
    </li>
    <div class="clearfix"></div>
    <li>
      <a href="" class="font-12" target="_blank"><span class="new_date">2014-2-27</span><span class="dot">积极推进医疗卫生体制改革 ——访市政协...</span></a>
    </li>
    <div class="clearfix"></div>
    <li>
      <a href="" class="font-12" target="_blank"><span class="new_date">2014-2-15</span><span class="dot">医疗保健：改革配套政策不能及时出...</span></a>
    </li>
    <div class="clearfix"></div>
    <li>
      <a href="" class="font-12" target="_blank"><span class="new_date">2014-1-30</span><span class="dot">改革向深水区推进 医疗产业开启...</span></a>
    </li>
    <div class="clearfix"></div>
    <li>
      <a href="" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="dot">医疗改革中还存在突出矛盾张八五...</span></a>
    </li>
    <div class="clearfix"></div>


  </ul>
  </div>
</div>
<div class="col-md-6" style="margin-top:10px;">
  <div class="row">
  <div class="col-md-12 index_box" style="padding:0px;">
  <p class="box-title font-18 font-yahei" style="padding-left:15px;"><span class="pull-right font-14" style="display:inline-block;margin-right:15px;"><a href="#">更多</a></span><b>排行榜</b></p>
  <div class="col-md-12">
    <ul class="list-unstyled font-yahei line_height30">
      <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-4-1</span><span class=" btn-danger artical_num">1</span>肿瘤会诊中心视频...</a>
      </li>
      <div class="clearfix"></div>
      <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-3-27</span><span class=" btn-warning artical_num">2</span>生活习惯与肿瘤上...</a>
      </li>
      <div class="clearfix"></div>
      <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-3-22</span><span class=" btn-info artical_num">3</span>换个角度看感冒...</a>
      </li>
      <div class="clearfix"></div>
      <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-3-15</span><span class=" btn-success artical_num">4</span>数字化手术室...</a>
      </li>
      <div class="clearfix"></div>
      <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-2-30</span><span class=" btn-primary artical_num">5</span>一针见生死...</a>
      </li>
      <div class="clearfix"></div>
      <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="num-6 artical_num">6</span>生活习惯与肿瘤下...</a>
      </li>
      <div class="clearfix"></div>
      <li>
        <a href="" class="font-12" target="_blank"><span class="new_date">2014-1-22</span><span class="num-7 artical_num">7</span>肿瘤的预防和治疗...</a>
      </li>
      <div class="clearfix"></div>

    </ul>
    </div>
  </div>
  </div>
</div>
<style>
  .padding-left2{padding-left:10px;}
        @media (max-width:985px) {
            .padding-left2{padding-left:0px;}
        }
</style>
<div class="col-md-6" style="margin-top:10px;">
  <div class="row padding-left2">
    <div class="col-md-12 index_box" style="padding:0px;">
      <p class="box-title font-18 font-yahei" style="padding-left:15px;"><span class="pull-right font-14" style="display:inline-block;margin-right:15px;"><a href="#">更多</a></span><b>文档类型</b></p>
      <div class="col-md-12">
      <ul class="list-unstyled font-yahei line_height30">
        <li>
          <a href="" class="font-12" target="_blank"><span class="new_date"></span><span class="dot_r">【文档类型】</span></a>
        </li>
        <div class="clearfix"></div>
        <li>
          <a href="" class="font-12" target="_blank"><span class="new_date"></span><span class="dot_r">【文档类型】</span></a>
        </li>
        <div class="clearfix"></div>
        <li>
          <a href="" class="font-12" target="_blank"><span class="new_date"></span><span class="dot_r">【文档类型】</span></a>
        </li>
        <div class="clearfix"></div>
        <li>
          <a href="" class="font-12" target="_blank"><span class="new_date"></span><span class="dot_r">【文档类型】</span></a>
        </li>
        <div class="clearfix"></div>
        <li>
          <a href="" class="font-12" target="_blank"><span class="new_date"></span><span class="dot_r">【文档类型】</span></a>
        </li>
        <div class="clearfix"></div>
        <li>
          <a href="" class="font-12" target="_blank"><span class="new_date"></span><span class="dot_r">【文档类型】</span></a>
        </li>
        <div class="clearfix"></div>
        <li>
          <a href="" class="font-12" target="_blank"><span class="new_date"></span><span class="dot_r">【文档类型】</span></a>
        </li>
        <div class="clearfix"></div>
      </ul>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>