<div class="row padding-left2">
  <div class="col-md-12 index_box" style="padding:0px;">
    <p class="box-title font-18 font-yahei" style="padding-left:15px;">
      <b><%= @doctor['name'] %>医生的预约安排<%#=t('.doctor_appointment') %></b>
    </p>
    <div id='doctorschedule'>

    </div>
  </div>
</div>
<script>
    $.ajax({
        type:'get',
        url:'/appointment_schedules/doc_schedule?id=<%=@doctor.id%>',
        data:'json',
        success:function(data){
            $('#doctorschedule').html(data)
        },
        error:function(data){
            console.log(data)
        }
    })
</script>