<div class="container bgcolor-white" style="margin-top:-20px;">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12 space2"> <%=image_tag "",:width=>"75",:height=>"90",:class=>""%></div>
        <div class="col-md-7 col-sm-12 col-xs-12   space2">
          <div  style="width:70px;" class="pull-left"><b class="font-18 font-yahei space3">张三丰</b><br /><b class="font-color3" style="margin-top:5px;display:inline-block;">普通患者</b></div>

        <div class="infos pull-left" style="width:230px;"><span>29岁</span><span>男</span><span>18801029987</span><span>河南郑州</span><br /><span>肝和肝内胆管恶性肿瘤</span><br /><span>最近诊疗时间 2014-3-24</span></div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12  space2"><a class="btn btn-primary btn-xs"  style="margin:3px;">健康档案</a><a class="btn btn-primary btn-xs" style="margin:3px;">远程会诊</a><a class="btn btn-primary btn-xs"  style="margin:3px;">进入主页</a></div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12 space2"> <%=image_tag "",:width=>"75",:height=>"90",:class=>""%></div>
        <div class="col-md-7 col-sm-12 col-xs-12   space2">
          <div  style="width:70px;" class="pull-left"><b class="font-18 font-yahei space3">张三丰</b><br /><b class="font-color3" style="margin-top:5px;display:inline-block;">普通患者</b></div>

          <div class="infos pull-left" style="width:230px;"><span>29岁</span><span>男</span><span>18801029987</span><span>河南郑州</span><br /><span>肝和肝内胆管恶性肿瘤</span><br /><span>最近诊疗时间 2014-3-24</span></div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12  space2"><a class="btn btn-primary btn-xs"  style="margin:3px;">健康档案</a><a class="btn btn-primary btn-xs" style="margin:3px;">远程会诊</a><a class="btn btn-primary btn-xs"  style="margin:3px;">进入主页</a></div>
      </div>
    </div>
  </div>
    <div class="space2 space">
      <ul class="nav nav-tabs">
        <li class="active" id="d1">
          <a href="#d11" class="font-14 font-color3" data-toggle="tab" id='d110'><span class=""></span>主治患者</a>
        </li>
        <li id="d2">
          <a href="#d22" class="font-14 font-color3" data-toggle="tab"><span class=""></span>普通患者</a>
        </li>
      </ul>
      <div id='tab_show' class="tab-content">
        <div id="d11" class="tab-pane active">

        </div>
        <div id="d22" class="tab-pane">

        </div>
      </div>
    </div>
</div>

<script>

  $('#d1').click(function(){
      $.ajax({
          type: 'get',
          url: '/doctors/get_main_patients',
          data: 'json',
          success: function(data){
              $('#d11').html('');
              $('#d11').html(data)
          }
      } )
  })
  $('#d1').click()
  $('#d2').click(function(){ $.ajax({
        type: 'get',
        url: '/doctors/get_fri_patients',
        data: 'json',
        success: function(data){
            $('#d22').html('');
            $('#d22').html(data)
        }
    } )
  }) ;


</script>