<div class="container" style="margin-top:-20px;">
  <div class="row space">
    <div class="col-md-12 " style="margin-top:10px;padding:0px;">
      <!--<div class="pull-left" style="width:13%;">-->
        <!--<%#= render 'photos/photo_form' %>-->
        <!--<div id='notice'></div>-->
      <!--</div>-->
      <div class="" id="doctor-home-notices" style="width:100%;">
      </div>
      <%#= render  partial: 'notifications/show_notifications'%>
  </div>
  </div>
</div>
<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script>

    $.ajax({
        type:'get',
        url:'notifications/show_doctor_notices',
        success:function(data){
            $('#doctor-home-notices').html(data)
        },
        error:function(data){
        }
    })


    function showflash() {
        $('#flashalert').modal('show');
    }
    function hideflash() {
        $('#flashalert').modal('hide');
    }
    <% if flash[:success] %>
    jQuery(document).ready(function () {
        setTimeout("showflash()", 1);
        setTimeout("hideflash()", 1500)
    });
    <% end %>
</script>
