<!-- update Modal -->
<div class="modal fade" id="bmi_update_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">修改记录</h4>
      </div>
      <form  action="/bmi/update" name="bmi_update_form" method="post" id="bmi_update_form">
        <div class="modal-body">

          <table style="width:100%;margin:0px auto;">
            <tr>
              <input type="hidden" name="patient_id" value="<%= current_user.patient_id%>">
              <td style="padding-right:5px;"><span class="font-yahei" style="color:#333;">身体质量指数(w/h)</span></td>
              <td style="padding-right:5px;"><input type="text" name="measure_value" id="bmi_update_value" class="blood_input_bg" style=""/></td>
              <td style="padding-right:5px;"><span class="font-yahei" style="color:#333;" >时间</span></td>
              <td style="padding-right:5px;"><input type="text" name="measure_time" id="bmi_update_date" class="blood_input_bg" readonly="readonly"></td>
            </tr>
          </table>

        </div>
        <div class="modal-footer" style="padding:10px 20px 10px;">
          <input type="submit" value="保存" class="btn btn_g" id="bmi_update_submit" style="margin-bottom:2px;">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
