<%= javascript_include_tag 'health_records'%>
<div class="container bgcolor-white" style="margin-top:-20px;">
  <div class="row space2">
    <div class="col-md-3 left_box" style="padding:0px;">
      <div style="background:#702e85;height:5px;font-size:5px;overflow:hidden;"></div>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <h4 class="panel-title spread">
                影像数据
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <ul class="list-unstyled">

                <li><a id="ultrasound" href="javaScript:showHealthRecordsData('/health_records/ultrasound2')">超声</a></li>
                <li><a href="javaScript:showHealthRecordsData('/health_records/ct2')">CT</a></li>
                <li><a>核磁</a></li>
                <li><a>X射线</a></li>
              </ul>
            </div>

          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <h4 class="panel-title fold">
              电子病历
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><a>首页</a></li>
                <li><a>病程记录</a></li>
                <li><a>手术记录</a></li>
                <li><a>护理记录</a></li>
                <li><a>医嘱</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <h4 class="panel-title fold">
              检验
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled">
                  <li><a>检验报告</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            <h4 class="panel-title fold">
              检查
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><a>检查报告</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            <h4 class="panel-title fold">
              常规指标
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><a>血压</a></li>
                <li><a>血糖</a></li>
                <li><a>血脂</a></li>
                <li><a>血氧</a></li>
                <li><a>体重</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
            <h4 class="panel-title fold">
              心电图
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><a>普通心电图</a></li>
                <li><a>24小时动态心电图</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-md-9" style="padding-right:0px;">
      <div id="div_right" class="left_box" style="padding:0 10px;">
        <script>
            $(function () {
                showHealthRecordsData('/health_records/dicom');
            });
        </script>
      </div>
    </div>
  </div>
</div>


