<div class="container bgcolor-purple" style="margin-top:-20px;">
  <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span>健康档案界面</h3>
  <div id="ultrasonic_items">
    <!--<iframe src="/dione/pdf_reports/show?uuid=069be940b4ab47e98f54bbb0fc4563a5.xml" height="750px" width="1000px">-->

    <!--</iframe>-->
  </div>
  <div id="ultrasonic">

  </div>
</div>
<script>
  $(function(){

      <% if @type == 'patient'%>
        <% @reports.each do |report| %>
            $('#ultrasonic_items').append('<a onclick="ultrasonic(\'<%= report %>\')"><%= report %></a><br>');
        <% end %>
      <% end %>
  });
  function ultrasonic(uuid){
      $('#ultrasonic').load('/dione/pdf_reports/show?uuid='+uuid);
  }
</script>
