<div id="fade" class="container index_box" style="text-align: center; margin-top:-10px;">
  <br/>
  <div id="iReport">
    <img style="background-color: #f9f9f9"  src="/dione/pdf_reports/show_picture?uuid=<%= @uuid %>">
  </div>
  <br/>
</div>