<div id="fade" class="container bgcolor-white" style="text-align: center; margin-top:-20px;">
  <div id="iReport">
    <img width="900px" style="background-color: #f9f9f9"  src="/dione/pdf_reports/show_picture?uuid=<%= @uuid %>">
  </div>
</div>