<div class="container bgcolor-white" style="margin-top:-20px;">
  <div id="ultrasound">
    <img src="<%= @url %>">
  </div>
  <div id="pictures">

  </div>
  <div id="radios">

  </div>
</div>
<script>
    $(function(){

        $.ajax({
            url: '/dione/pdf_reports/download_emr_img_video?uuid=<%= @uuid.sub(".png",".xml") %>',
            type: 'get',
            success: function(data){
               console.log(data);
            },
            error: function(data){
                console.log(data);
            }
        })
    });
</script>