<%= javascript_include_tag 'jquery.fancybox-1.3.1.pack' %>
<%= stylesheet_link_tag 'fancybox' %>


<div class="container bgcolor-purple" style="margin-top:-20px;">
  <!--<div id="abc">-->
  <!--<embed width="100%" height="100%" name="plugin" src="http://demo.kanbing365.com:8082/player.swf" type="application/x-shockwave-flash">-->
  <!--<iframe id="videoPlay" name="video" width="100%" height="100%" src="http://demo.kanbing365.com:8082/player.swf"></iframe>-->
  <!--<object width='640' height='480' >-->
  <!--<param name='flash' value='http://demo.kanbing365.com:8082/player.swf' />-->

  <!--<embed src='http://demo.kanbing365.com:8082/player.swf' width='640' height='480' />-->
  <!--</object>-->
  <!--</div>-->
  <!--<button id="abcd">123456</button>-->
  <div id="ultrasound" style="float: left">
    <img width="540px" height="720px" src="/dione/pdf_reports/show_picture?uuid=<%= @uuid %>">
  </div>
  <div id="pictures" style="float: left">

  </div>
  <div id="videos" style="float: left">
    <table>
      <tr>
        <td style="width: 450px">视频</td>
        <td>播放</td>
      </tr>
    </table>
  </div>
</div>
<script>
    $(function(){
//        $('#abc').load('http://demo.kanbing365.com:8082/player.swf');
//        $('#abcd').click(function(){
//            $('#abc').display = ''
//        })
        var cWidth = $('.container').width();
        var iWidth = (cWidth-600)/2;
        $.ajax({
            url: '/dione/pdf_reports/download_emr_img_video?uuid=<%= @uuid.sub(".png",".xml") %>',
            type: 'get',
            success: function(data){
                var images = data.images;
                var videos = data.videos;
                var iLen = images.length;
                var vLen = videos.length;
                if(iLen > 0){
                    for(var i= 0;i<iLen;i++){
                        $('#pictures').append('<a class="pictures" href="'+images[i]+'"><img width="'+iWidth+'px" src="'+images[i]+'"></a>');
                        if(i!=0&&i%2==1)$('#pictures').append('<br/>');
                    }
                    $('.pictures').fancybox();
                }

                if(vLen > 0){
                    var k = 0;
                    for(var i= 0;i<vLen;i++){
                        k = i+1;
//                        $('#videos table').append('<tr><td>视频'+k+'</td><td><a class="videoIcon" href="http://demo.kanbing365.com:8082/player.swf"><img src="/icon/videoStart.png" onclick="videoStart(\''+videos[i]+'\');" /></a></td></tr>');
                        $('#videos table').append('<tr><td>视频'+k+'</td><td><a class="videoIcon" href="#"><img src="/icon/videoStart.png" onclick="videoStart(\''+videos[i]+'\');" /></a></td></tr>');
                    }
//                    $('.videoIcon').fancybox();
                }
            },
            error: function(data){
                console.log(data);
            }
        })

    });
    function videoStart(url){
//        console.log(url)
//        $('.pictures').fancybox();

//        alert(url);
//        window.open('http://www.baidu.com')
//        window.location.href = 'http://www.baidu.com';
//        return false;
//        window.open ('http://www.baidu.com', 'newwindow', 'height=100, width=400, top=0,left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')
    }
</script>