<%= javascript_include_tag 'jquery.fancybox-1.3.1.pack' %>
<%= stylesheet_link_tag 'fancybox' %>
<style>
    #pictures {
        background: #f4f4f4;
        border: 1px solid #e6e6e6;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 6px;
    }

    #pictures a {
        display: inline-block;
        margin: 3px;
    }

    .video_lists {
        background: #f4f4f4;
        border: 1px solid #e6e6e6;
        padding: 10px;

    }

    .title {
        border-bottom: 1px solid #8dbffa;
        background: -moz-linear-gradient(center top, #e5f4fb, #b7dbfb) repeat scroll 0 0 transparent;
        background: -webkit-linear-gradient(#e5f4fb, #b7dbfb) repeat scroll 0 0 transparent;
        filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#e5f4fb, endColorStr=#b7dbfb); /* IE 6 7 8  */
        line-height: 30px;
    }

    .videos {
        width: 540px;
    }

    .title table {
        margin: 0 10px;
    }

    .video_lists table tr {
        border-bottom: 1px solid #ccc;
        line-height: 30px;
    }

    .video_lists table tr:hover {
        background: #e3eefb;
        cursor: pointer;
    }

    .video_lists table thead tr:hover {
        background: none;
    }

    @media (min-width:1200px) {
        #ultrasound {
            float: left;
            margin-right: 30px;
        }

        .videos {
            float: left;
            width: 575px;
        }

    }
</style>
<div class="container bgcolor-white" style="margin-top:-20px;padding:0px;">
  <div id="videoPlayer" style="width: 100%;height: 100%">

  </div>

  <div id="ultrasound" style="text-align:center;">
     <img width="560px"  style="margin:0 auto;" src="/dione/pdf_reports/show_picture?uuid=<%= @uuid %>">
  </div>
  <div style="margin:0 auto;" class="space3 videos">
    <div class="title space2">
      <strong>影像视频列表</strong>
    </div>
    <div id="videos" class="video_lists ">
      <table style="width:100%;">
      </table>
    </div>
    <div class="title space2">
      <strong>影像图片列表</strong>
    </div>
    <div id="pictures" class="video_lists">
      <table style="width:100%;">

      </table>
    </div>
  </div>
</div>

<script>
    $(function(){
        var cWidth = $('.container').width();
        var iWidth = (cWidth-630)/2;
        $.ajax({
            url: '/dione/pdf_reports/download_emr_img_video?uuid=<%= @uuid.sub(".png",".xml") %>',
            type: 'get',
            success: function(data){
                var images = data.images;
                var videos = data.videos;
                var iLen = images.length;
                var vLen = videos.length;
                if(iLen > 0){
                    for(var i= 0;i<iLen;i+=2){
                        if (iLen-i == 1){
                            $('#pictures table').append('<tr><td><a class="pictures" href="'+images[i]+'"><img width="'+iWidth+'px" src="'+images[i]+'"/></a></td><td></td></tr>')
                        }else {
                            $('#pictures table').append('<tr><td><a class="pictures" href="'+images[i]+'"><img width="'+iWidth+'px" src="'+images[i]+'"/></a></td><td><a class="pictures" href="'+images[i+1]+'"><img width="'+iWidth+'px" src="'+images[i+1]+'"/></a></td></tr>')
                        }
                    }
                    $('.pictures').fancybox();
                }

                if(vLen > 0){
                    var k = '',j = '';
                    for(var i= 0;i<vLen;i+=2){
                        if (vLen-i == 1){
                            if(iLen == 0){ k = '/icon/videoStart.png'}else if(i<iLen){ k = images[i]}else{k = images[0]}
                            $('#videos table').append('<tr><td><a href="/health_records/play_video?video_url='+videos[i]+'" target="_blank"><img width="'+iWidth+'px" src="'+k+'"/></a></td><td></td></tr>')
                        }else {
                            if(iLen == 0){ k = '/icon/videoStart.png'}else if(i<iLen){ k = images[i]}else{k = images[0]}
                            if(iLen == 0){ j = '/icon/videoStart.png'}else if((i + 1)<iLen){ j = images[i+1]}else{j = images[0]}
                            $('#videos table').append('<tr><td><a href="/health_records/play_video?video_url='+videos[i]+'" target="_blank"><img width="'+iWidth+'px" src="'+k+'"/></a></td><td><a href="/health_records/play_video?video_url='+videos[i+1]+'" target="_blank"><img width="'+iWidth+'px" src="'+j+'"/></a></td></tr>')
                        }
                    }
                }
            },
            error: function(data){
                console.log(data);
            }
        })
    });
</script>