<div>
  <a href=""  data-toggle="modal">
    <div class="photo_shadow">
    <% if !@photos.nil?%>
        <%= image_tag(@photos, alt: @name,:size => "150x210") %>
    <%else%>
        <%= image_tag( "default.png", alt: "该用户没有上传图片",:size => "150x210") %>
    <%end %>
  </div>
 </a>
</div>