/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 * require bootstrap-datetimepicker
 *=require home.css.erb
 *=require commonality
 *=require appointments
 *=require myschedule
 *=require patients
 *=require jquery.Jcrop
 *=require select2
 *=require consultation/chat/mCustomScrollbar
 *=require consultation/videolist
 *=require health_records
 *= require jquery.datetimepicker
 */
/*-----------------------------------------consultations/new----------------------------------------------*/

.consultations_box .span4{
    margin-left:50px;
    display:inline-block;
}
.consultations_box table tr td{
    margin:5px 0;
}
.consultation_btn{
    margin-right:75px;
}

.consultations_box table{
    margin:35px 0 0 60px;
}
.consultations_box_header{

    /*width:500px;*/
    height:40px;
    border-bottom:1px solid #dcdcdc;

}

.icon-calendar,.icon-time{
    margin-top:-4px;
}
.clear{
    clear:both;
    height:0px;
    overflow:hidden;
    font-size:0px;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
/*-----------------------------------------------------consultations/show.html------------------------------------------------------------*/
.container-fluid{
    width:1160px;
    clear:both;
    margin-top:20px \9;
    margin-left:100px;

}
:root .container-fluid{
    width:1185px \9;
    clear:both;
    margin-top:20px \9;
}

.health_info{
    margin-left:-20px;
    margin-top:-10px;
    width:1200px;
    padding-bottom:10px;
    padding-top:10px;

}
.patient_info_box{
    width:268px;
    margin-left:10px;
    margin-bottom:10px;
}
.patient_info_box .patient_info{
    width:175px;
    color:#2b5780;
}
.doctor_info{
    width:190px;
}

.v_caption2{
 background:#fff;
 border:1px solid #dde0e3;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    height:515px;
}

.v_caption2  p{
    filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f9fafb,endColorStr=#e7e9eb);  /* IE 6 7 8  */
    background: -ms-linear-gradient(top,#f9fafb,#e7e9eb);       /* IE 10 */
    background: -moz-linear-gradient(top,#f9fafb,#e7e9eb);        /* Firefox 3.6+ */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9fafb),to(#e7e9eb)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top,#f9fafb,#e7e9eb);   /*Safari5.1 Chrome10+*/
    background: -o-linear-gradient(top,#f9fafb,#e7e9eb);  /* Opera 11.10+*/
    font-size:18px;
    font-family:Arial,'微软雅黑';
    border-bottom:1px solid #dde0e3;
    padding:5px 8px;

}


.messages_box{
    margin-left:-20px;
    margin-left:45px \9;
}

.doctor_list{
    width:300px;
}
.doctor_list dl{
    margin:0 10px 10px 10px;
}
.doctor_list dl dd{
    text-align: center;
    font-weight:bold;
    margin-left:0px;
    margin-top:10px;
}
.photo_border{
    width:80px;
    height:112px;

}
.patient_photo{
    width:80px;
    height:112px;
    border:1px solid #dcdcdc;
}
/*---------------------------navigation_directorys/remote_consultation----------------------------------*/
.consultation_collections table{
    width:100%;
    background:#568ec0;

}

.consultation_collections table thead th{
    color:#d5e6f4;
    text-align: center;
    font-size:14px;
}
.consultation_collections table tr td{
    text-align: center;
    min-width:140px;
    font-size:12px;
}
.consultation_collections table tr td a{
    color:#000;
}
.consultations_id a{
    color:#612761;
}
.consultations_id a:hover{
    color:#bc74ba;
}
.consultation_list h2{
    color:#000;
}

#t1 table,#t2 table,#t3 table{
    width:100%;
}
.myapp_title{

    width:560px;
    border-radius: 8px;
    padding-left:15px;
    padding-top:10px;
    font-size:18px;
    font-family: '幼圆';
    height:28px;
    margin-bottom:30px;
    margin-right:5px;

}
.appointment_bg{

    width:1200px;

}
#myapp_tab table{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    background:#ffffff;
}
#myapp_tab .nav{
    margin:0;
}
#myapp_tab table td,#myapp_tab table td a{
    color:#000;
    font-size:12px;
}

#myapp_tab table td,#myapp_tab table th{
    text-align:center;
}
.changes_reports_font{
    font-size:16px;
    font-family:'幼圆';
    font-weight:bold;
    margin-bottom:10px;
}
.report_area{
    background:#568ec0;
    border:1px solid #4d88bd;
}
.strong{
    margin-bottom:10px;
    font-size:16px;
    color:#666;
}
.consultations_box_header .reports_edit_color{
    color: #bc74ba;
}
.space_20{
    margin-left:-12px;
}
/********************end****************************/

a:hover{
    cursor:pointer;
    text-decoration: underline;
}
.font-20{
    font-size:20px;
}
.font-18{
    font-size:18px;
}
.font-16,.font-162 a{
    font-size:16px;
}
.font-14,.font-142 a{
    font-size:14px;
}
.font-12{
    font-size:12px;
}

.lineheight-30{
    line-height:30px;
}
.lineheight-24{
    line-height:24px;
}
.text{
    text-indent:2em;
}
.space{
    margin-bottom:15px;
}
.space2{
    margin-top:15px;
}
.space3{
    margin-right:15px;
}
.space4{
    margin-bottom:10px;
}
.space5{
    margin-right:10px;
    display:block;
}
.space7{
    margin-left:15px;
}
.space6{
    margin-top:10px;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.font-color2{
    color:#f07800;
}
.font-color3,.font-color3 a{
    color: #467bdd;
}
.font-color4 a,.font-color4{
    color:#d9cfe4;
}
.font-color5{
    color:#ffffff;
}
.font-color6{
    color:#000000;
}
.font-color7{
    color:#8675b7;
}
.font-color7:hover{
    color:#b8aed5;
}
.line_height24{
    line-height:24px;
}
.line_height30{
    line-height:30px;
}
.line{
    border-top:1px solid #e1e1e1;
    border-bottom:1px solid #ffffff;

}
.line2{
    border-right:1px dashed #dcdcdc;
}
.line3{
    border-bottom:1px dashed #cacde1;
}
.line4{
    border-left:1px dashed #dcdcdc;
}
.search_list_doctor{
    width:450px;
    padding-top:20px;
    padding-left:18px;
    margin-left:15px;
}
dl,dt,dd,ul,li,div,h3,h4{
    padding:0;margin:0px;
}

.container .table{
    margin-bottom:10px;
    font-size:12px;
}
.consultation_index_video{

    background:#fff;
    border-top:1px solid #dde0e3;
    border-bottom:1px solid #dde0e3;

}