/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-datetimepicker
 *=require footer
 *=require header
 *=require home
 *=require commonality
 */
.font-20{
    font-size:20px;
}
.font-18{
    font-size:18px;
}
.font-16{
    font-size:16px;
}
.font-14{
    font-size:14px;
}
.font-12{
    font-size:12px;
}
.lineheight-30{
    line-height:30px;
}
.lineheight-24{
    line-height:24px;
}
.text{
    text-indent:2em;
}
.space{
    margin-bottom:15px;
}
.space2{
    margin-top:15px;
}
.space3{
    margin-right:15px;
}
.space4{
    margin-bottom:10px;
}
.space5{
    margin-right:10px;
    display:block;
}
.text-right{
    text-align: right;
}
.font-color2{
    color:#f07800;
}
.font-color3{
    color:#552f7c;
}
.font-color4 a{
    color:#d9cfe4;
}
.font-color5{
    color:#ffffff;
}
.font-color6{
    color:#000000;
}

.line{
    border:1px dashed #cacde1;
    border:1px dotted #cacde1 \9;
}
.line2{
    border-right:1px dashed #dcdcdc;
}
.search_list_doctor{
    width:450px;
    padding-top:20px;
    padding-left:18px;
    margin-left:15px;
}
