// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*footer*/
.footer{
  border-top:1px solid #716a9f;
  background:#5c447b;
}
.copyright{
  background:#352b51;
  padding-top:5px;
  padding-bottom:5px;
}