/*--------------/imgscroll-----------*/
a { color:#213f71; font-size:9pt; text-decoration:none; }
a:hover { color:#0066cc; }
.blk_18 { overflow:hidden; zoom:1; position:relative;font-size:9pt;border-radius:8px;width:100%; padding-left:10px;background:#dde2f2;border:1px solid #cbd9ff; }
.blk_18 .pcont { width:92%; float:left; overflow:hidden; margin-left:33px;}
.blk_18 .ScrCont { width:32766px; zoom:1; margin-left:-5px; }
.blk_18 #List1_1, .blk_18 #List2_1 { float:left; }
.blk_18 .LeftBotton, .blk_18 .RightBotton { width:15px; height:86px; float:left;}
.blk_18 .LeftBotton, .blk_18 .RightBotton { width:15px; height:86px; float:left;}
.blk_18 .LeftBotton { font-size:26px;color:#552f7c;font-weight:bold;padding-top:4px;padding-left:8px;line-height:75px;position:absolute;left:0px; bottom:25px;width:46px;height:86px;}
.blk_18 .RightBotton {padding-left:25px;font-size:26px;padding-top:4px;font-weight:bold;color:#552f7c;line-height:75px;position:absolute;right:0px; bottom:25px;width:46px;height:86px;}
.blk_18 .LeftBotton:hover { color:#331c4a;}
.blk_18 .RightBotton:hover {color:#331c4a;}
.blk_18 .pl img {  display:block; cursor:pointer; border:none; margin:6px auto 6px auto;box-shadow:1px 2px 3px rgba(67,86,120,.5)}
.blk_18 .pl { width:110px; border:1px solid transparent; float:left; float:left; text-align:center; line-height:24px; }

.bgcolor-gray{
    background:#d1d6ef;
}
.bgcolor-purple{
    filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#f2f4fb,endColorStr=#d0d7ee);  /* IE 6 7 8  */
    background: -ms-linear-gradient(left, #f2f4fb,#d0d7ee);       /* IE 10 */
    background: -moz-linear-gradient(left, #f2f4fb,#d0d7ee);        /* Firefox 3.6+ */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f4fb),to(#d0d7ee)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(left,#f2f4fb,#d0d7ee);   /*Safari5.1 Chrome10+*/
    background: -o-linear-gradient(left,#f2f4fb,#d0d7ee);  /* Opera 11.10+*/
}
.bgcolor-purple2{
    background:#e1e4f4;
}
.body-bg{
    background:url(body-bg.png) #a59fc6;
}

.container a:hover{
    text-decoration: none;
}
.icon-title{
    background:url(icon.jpg) no-repeat left #eeeeee;
    display:inline-block;
    width:14px;
    height:14px;
    margin-right:5px;
}
.title-bg{
    background:#a99acb;
    padding:5px;
    color:#552f7c;
    font-weight:bold;
}
.container .nav-tabs > li.active > a, .container .nav-tabs > li.active > a:hover, .container .nav-tabs > li.active > a:focus {
    color: #552f7c;
    font-weight:bold;
    background-color:#bbc6e6;
    border: 1px solid #a8b6df;
    border-bottom-color: transparent;
    cursor: default;
}
.container .nav > li > a:hover, .container .nav > li > a:focus{
    background-color: #bbc6e6;
    color:#552f7c;
}
.bs-example-tabs .nav > li > a{
    color:#000;
}
.container .nav-tabs{
    border-bottom:1px solid #a8b6df;
}
.container .nav-tabs > li > a:hover{
    border-color:#a8b6df #a8b6df transparent #a8b6df;
}
.container .tab-content{
    background:#bbc6e6;
    border:1px solid #a8b6df;
    border-top:1px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left:15px;
    padding-top:15px;
}
.container .tab-content a{
    color:#552f7c;
}
.container .tab-content a:hover,.font-color4 a:hover{
    color:#edeaf4;
}
#Marquee{ height:80px; overflow:hidden;margin-bottom:10px;}
#Marquee div{ border:1px dashed #DDD3FE; background:#e9e6f7; height:80px;}
#Marquee div ul li a{
    line-height:24px;
    font-size:14px;
    padding-left:15px;
    color:#000;
}
.container .carousel-indicators .active{
    background:#552f7c;
}
.container .carousel-indicators li{
    border:1px solid #382858;
}
.container .carousel-indicators{
    bottom:0px;
}
.container .carousel-caption{
    left:30%;
    right:30%;
}
.btn-submit{
    width:100%;
    text-shadow: 0px 1px 0px #d07820;
    box-shadow: inset 0px 0px 1px #fbe9c4;
    border-radius: 4px;
    border:1px solid #e08929;
    height:93px;
    margin-top:25px;
}
.more{
    min-width:40px;
    text-shadow: 0px 1px 0px #d07820;
    box-shadow: inset 0px 0px 1px #fbe9c4;
    border-radius: 4px;
    border:1px solid #e08929;

}
.btn-orange{
    filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f7d579,endColorStr=#f0b517);  /* IE 6 7 8  */
    background: -ms-linear-gradient(top,#f7d579,#f0b517);       /* IE 10 */
    background: -moz-linear-gradient(top,#f7d579,#f0b517);        /* Firefox 3.6+ */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7d579),to(#f0b517)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top,#f7d579,#f0b517);   /*Safari5.1 Chrome10+*/
    background: -o-linear-gradient(top,#f7d579,#f0b517);  /* Opera 11.10+*/
}
.modal-content .modal-header{
    background: #eadfff;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.modal-content .modal-header h4,.modal-content .modal-header h3,.modal-content .modal-header h2,.modal-content .modal-header h1{
    font-family:"Microsoft YaHei";
}
.modal{
    overflow:hidden;
    overflow-y:hidden;
}

