/*------------------------------------header-------------------------------------------*/
header .navbar-default .navbar-nav > li > a,.font-color{
    color:#ffffff;
}
header .navbar-default .navbar-nav > li > a{
    border:1px solid transparent;
}
header .navbar-default .navbar-nav > li > a:hover{
    color:#ffffff;
    background-color:#452c65;
    border:1px solid #3c2556;
}
header .navbar-default .navbar-toggle:hover,header .navbar-default .navbar-toggle:focus{
    background-color:#3c2556;
    outline:none;
}
.navbar-right .font-yahei,.font-yahei{
    font-family: "Arial","Microsoft YaHei";
}
header .nav-bgcolor{
    background:#56367c;
    border-bottom:1px solid #382352;
    border-top:1px solid #382352;
}
.set{
    display:inline-block;
    padding-left:25px;
    width:100px;
    font-size:14px;
    line-height:30px;
    border-bottom:1px solid #efefef;
}
.icon-setting{
    background:url(setting.png) no-repeat left center;
}
.icon-out{
    background:url(out.png) no-repeat left center;
}
#_user_language{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.lan{
    background:#382451;border-top:1px solid #271838;line-height:30px;padding-left:15px;border-bottom:1px solid #845ab6;border-radius:15px;height:30px;width:90px;margin-top:12px;
}
.lan a:hover{
    color:#e3d9ee;
}
/*--------------/imgscroll-----------*/
a { color:#213f71; font-size:9pt; text-decoration:none; }
a:hover { color:#0066cc; }
.blk_18 { overflow:hidden; zoom:1; position:relative;font-size:9pt;border-radius:8px;width:100%; padding-left:10px;background:#eef1f9;border:1px solid #e1eaff; }
.blk_18 .pcont { width:91%; float:left; overflow:hidden; margin-left:30px;}
.blk_18 .ScrCont { width:32766px; zoom:1; margin-left:-5px; }
.blk_18 #List1_1, .blk_18 #List2_1 { float:left; }
.blk_18 .LeftBotton, .blk_18 .RightBotton { width:15px; height:86px; float:left;}
.blk_18 .LeftBotton, .blk_18 .RightBotton { width:15px; height:86px; float:left;}
.blk_18 .LeftBotton { font-size:20px;color:#552f7c;font-weight:bold;padding-top:4px;padding-left:0px;line-height:75px;position:absolute;left:0px; bottom:25px;width:46px;height:86px;}
.blk_18 .RightBotton {padding-left:25px;font-size:20px;padding-top:4px;font-weight:bold;color:#552f7c;line-height:75px;position:absolute;right:0px; bottom:25px;width:46px;height:86px;}
.blk_18 .LeftBotton:hover { color:#331c4a;}
.blk_18 .RightBotton:hover {color:#331c4a;}
.blk_18 .pl img {  display:block; cursor:pointer; border:none; margin:6px auto 6px auto;box-shadow:1px 2px 3px rgba(67,86,120,.5)}
.blk_18 .pl { width:110px; border:1px solid transparent; float:left; float:left; text-align:center; line-height:24px; }

.bgcolor-white{
    background:#f6f6f6;
    border-left:1px solid #ecedf0;
    border-right:1px solid #ecedf0;
    border-bottom:1px solid #ecedf0;
}
.bgcolor-purple{
    filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#f2f4fb,endColorStr=#eceff9);  /* IE 6 7 8  */
    background: -ms-linear-gradient(left, #f2f4fb,#eceff9);       /* IE 10 */
    background: -moz-linear-gradient(left, #f2f4fb,#eceff9);        /* Firefox 3.6+ */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f4fb),to(#eceff9)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(left,#f2f4fb,#eceff9);   /*Safari5.1 Chrome10+*/
    background: -o-linear-gradient(left,#f2f4fb,#eceff9);  /* Opera 11.10+*/
}
.bgcolor-purple2{
    background:#e1e4f4;
}
.body-bg{
    background:url(body-bg.png) #f0f1f4;
}

.container a:hover{
    text-decoration: none;
}
.icon-title{
    background:url(icon.jpg) no-repeat left #eeeeee;
    display:inline-block;
    width:14px;
    height:14px;
    margin-right:5px;
}
.title-bg{
    background:#c1b6de;
    padding:5px;
    color:#552f7c;
    font-weight:bold;
}
.container .nav-tabs > li.active > a, .container .nav-tabs > li.active > a:hover, .container .nav-tabs > li.active > a:focus {
    color: #552f7c;
    font-weight:bold;
    background-color:#e6eaf7;
    border: 1px solid #d8def1;
    border-bottom-color: transparent;
    cursor: default;
    border-radius:4px;
    bottom:-1px;
}
.container .nav > li > a:hover, .container .nav > li > a:focus{
    background-color: #e6eaf7;
    color:#552f7c;
}
.bs-example-tabs .nav > li > a{
    color:#000;
}
.container .nav-tabs{
    border-bottom:1px solid #d8def1;
}
.container .nav-tabs > li > a:hover{
    border-color:#d8def1 #d8def1 transparent #d8def1;
}
.container .tab-content{
    background:#e6eaf7;
    border:1px solid #d8def1;
    border-top:1px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left:15px;
    padding-top:15px;
}
.container .tab-content a{
    color:#552f7c;
}
.container .tab-content a:hover,.font-color4 a:hover{
    color:#8b81bc;
}
#rollAD{ height:72px;position:relative; overflow:hidden;margin-bottom:10px;border:1px dashed #DDD3FE; background:#fef5ed;}
#rollText a{
    line-height:24px;
    font-size:14px;
    padding-left:15px;
    color:#000;
}
.container .carousel-indicators .active{
    background:#552f7c;
}
.container .carousel-indicators li{
    border:1px solid #382858;
}
.container .carousel-indicators{
    bottom:0px;
}
.container .carousel-caption{
    left:53%;
    right:10%;
    bottom:25%;
}
.btn-submit{
    font-weight:bold;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
}
.more{
    background:#c7d0ed;
    border-top:1px solid #93a4dd;
    border-bottom:1px solid #fff;
    border-radius:10px;
    height:20px;
    line-height:20px;
    width:50px;
    text-align:center;

}
.btn-orange{
    filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f7d579,endColorStr=#f0b517);  /* IE 6 7 8  */
    background: -ms-linear-gradient(top,#f7d579,#f0b517);       /* IE 10 */
    background: -moz-linear-gradient(top,#f7d579,#f0b517);        /* Firefox 3.6+ */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7d579),to(#f0b517)); /* Safari 4-5, Chrome 1-9 */
    background: -webkit-linear-gradient(top,#f7d579,#f0b517);   /*Safari5.1 Chrome10+*/
    background: -o-linear-gradient(top,#f7d579,#f0b517);  /* Opera 11.10+*/
}
.modal-content .modal-header{
    background: #efefef;
    padding-top:10px;
    padding-bottom:10px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.modal-content .modal-header h4,.modal-content .modal-header h3,.modal-content .modal-header h2,.modal-content .modal-header h1{
    font-family:"Microsoft YaHei";
}
.modal{
    overflow:hidden;
    overflow-y:hidden;
}
.doctor_introduction_content {
    height:146px;
    overflow:hidden;
    text-overflow:ellipsis;
}
.department_introduction_content{
    height:240px;
    overflow:hidden;
}

/*------------------------------------------------------footer------------------------------------------------------------------*/
.footer{
    border-top:1px solid #716a9f;
    background:#5c447b;
}
.copyright{
    background:#352b51;
    padding-top:5px;
    padding-bottom:5px;
}
/*--------------------------------------------------------------login_from-------------------------------------------------------------*/
 .password{
     background:url(password.png) no-repeat;
     display:inline-block;
     height:24px;
     line-height:24px;
     padding-left:24px;
     margin-top:3px;
 }