// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.myschedule_table thead{
   background-color:#ececec;
  font-weight:bold;
}
.myschedule_table{
  text-align:center;
  background:#fff;
}
.second_title{
  font-family:"Arial","Microsoft YaHei";
  font-size:16px;
  font-weight:bold;
}
