// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.attending_doctor{
  background:#eff3fc;
  border:1px solid #d8e1f8;
  padding:0px 7px 7px 7px;
  border-radius:4px;
}
