// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.attending_doctor{
  background:#eff3fc;
  border:1px solid #d2dcf7;
  padding:0px 7px 7px 7px;
  border-radius:4px;
  box-shadow:0px 1px 4px rgba(183,199,242,.6);
}
@media (min-width:768px){
  .doc_introduction{
    width:83%;
  }
}
.doc_infos span{
  font-size:12px;
  margin-right:15px;
  line-height:28px;
  font-family:Arial;
  color: #555555;
}
.infos span{
  font-size:14px;
  margin-right:15px;
  line-height:30px;
  font-family:Arial,"楷体";

}
@media (max-width:420px){
  .infos span{
    line-height:normal;
  }
}
