#timeline {
    background: #fff;
    box-shadow:0px 1px 10px rgba(0,0,0,.6);
    margin: 0 10% 0 10%;
    height: 80%;
    width: 80%;
}
#timeline .navigation .timenav-background {
    background: #c0c0c0;
}
#timeline .navigation .toolbar {
    background: #56367c;
}
#timeline .navigation .timenav-background .timenav-interval-background {
    background: #fff;
}
#timeline .feature .slider-container-mask .slider-container {
    background: #fff;
}
#timeline .nav-next {
    width: 80px;
    margin-left: -10px;
}
#timeline .navigation .toolbar .zoom-in, #timeline .navigation .toolbar .zoom-out, #timeline .navigation .toolbar .back-home {
    width: 28px;
    height: 28px;
}
#timeline .picture {
    overflow: auto;
}