<div class="container bgcolor-white" style="margin-top:-20px;">
  <h3 class="font-yahei title-bg font-18"><span class="icon-title"></span>医生的预约界面</h3>
  <div id='app_item'>
    <%= render 'appointments/doctor_appItem'%>
   </div>
  <div><%= render :template =>  'appointment_schedules/myschedule' %></div>
</div>
