<div class="container bgcolor-white" style="margin-top:-20px;">
  <h3 class="font-yahei font-16 blue_line space2"><span class="title_third">我的预约</span></h3>

  <div id='app_item'>
    <%= render 'appointments/doctor_appItem'%>
   </div>
  <!--<div id='myschedule'><%#= render :template =>  'appointment_schedules/myschedule' %></div>-->
  <div id='myschedule'><%#= render  'appointment_schedules/myschedules' %></div>
</div>
<script>
    $.ajax({
        type:'get',
        url:'/appointment_schedules/myschedule',
        data:'json',
        success:function(data){
            $('#myschedule').html(data)
        },
        error:function(data){
            console.log(data)
        }
    })
</script>