<div class="container" style="margin-top:-20px;">
  <!--<h3 class="font-yahei font-16 blue_line space2"><span class="title_third">我的预约</span></h3>-->
  <style>
      .fc-header{
          width:98% !important;
          margin:0 auto;
      }
  </style>
  <div class="index_box" style="margin-top:10px;">
    <div id='app_item'>
      <%= render 'appointments/doctor_appItem'%>
    </div>
  </div>
  <!--<div id='myschedule'><%#= render :template =>  'appointment_schedules/myschedule' %></div>-->
  <div class="index_box" style="margin-top:10px;">
    <p style="padding-left:15px;margin-top:15px;" class="font-yahei font-18">我的预约就诊</p>
    <div id='myschedule'>
      <%#= render  'appointment_schedules/myschedules' %>
    </div>
  </div>
</div>
<div class="modal fade" id="flashalert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% flash.each do |key, value| %>
          <div class="modal-body" id="alert<%= key %>">
            <%= value %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>
    $.ajax({
        type:'get',
        url:'/appointment_schedules/myschedule',
        data:'json',
        success:function(data){
            $('#myschedule').html(data)
        },
        error:function(data){
            console.log(data)
        }
    })
    function showflash() {
        $('#flashalert').modal('show');
    }
    function hideflash() {
        $('#flashalert').modal('hide');
    }
    <% if flash[:success] %>
    jQuery(document).ready(function () {
        setTimeout("showflash()", 1);
        setTimeout("hideflash()", 2000);
    });
    <% end %>
</script>