<%= javascript_include_tag 'swfobject', 'ParsedQueryString' %>
<h2 style="text-align: center"><%= @note.head %></h2>
<h3 style="text-align: center"><%= @note.subhead %></h3>
<%= @note.content.html_safe if @note.content %>
<script>
    $(function(){
        $('img').css("width","100%");
        var embedObj = $("embed")[0];
        var srcfile = embedObj.src;
        if (srcfile.indexOf('upload') != -1) {
            $("embed")[0].id = "Playback";
            var pqs = new ParsedQueryString();
            var parameterNames = pqs.params(false);
            var parameters = {
                src: srcfile,
                autoPlay: "false",
                verbose: true,
                controlBarAutoHide: "false",
                controlBarPosition: "bottom",
                poster: ""
            };

            for (var i = 0; i < parameterNames.length; i++) {
                var parameterName = parameterNames[i];
                parameters[parameterName] = pqs.param(parameterName) ||
                        parameters[parameterName];
            }

            var wmodeValue = "direct";
            var wmodeOptions = ["direct", "opaque", "transparent", "window"];
            if (parameters.hasOwnProperty("wmode")) {
                if (wmodeOptions.indexOf(parameters.wmode) >= 0) {
                    wmodeValue = parameters.wmode;
                }
                delete parameters.wmode;
            }

            // Embed the player SWF:
            swfobject.embedSWF(
                    "../playback.swf"
                    , "Playback"
                    , "100%"
                    , 300
                    , "10.1.0"
                    , "expressInstall.swf"
                    , parameters
                    , {
                        allowFullScreen: "false",
                        wmode: wmodeValue
                    }
                    , {
                        name: "Playback"  //div id
                    }
            );

        }
//      $('object')
    });

</script>