<div data-role="page" id="pageone">
  <div data-role="content">
    <!--<form method="post" action="demoform.asp">-->
    <!--<form method="post" action="">-->
      <div data-role="fieldcontain">
        <!--<label for="name" class="yahei">用户名</label>-->
        <!--<input type="text" name="name" id="name">-->
        <label for="real_name" class="yahei">真实姓名</label>
        <input type="text" name="real_name" id="real_name">
        <fieldset data-role="controlgroup" data-type="horizontal">
          <legend class="yahei">性别</legend>
          <label for="male">男</label>
          <input type="radio" name="gender" id="male" value="男">
          <label for="female">女</label>
          <input type="radio" name="gender" id="female" value="女">
        </fieldset>
        <label for="birthday" class="yahei">出生日期</label>
        <input type="date" name="birthday" id="birthday">
        <label for="phone" class="yahei">手机号</label>
        <input type="text" name="phone" id="phone">
        <!--<label for="department_number" class="yahei">科室电话</label>-->
        <!--<input type="text" name="department_number" id="department_number" placeholder="用于客服确认信息">-->
        <!--<label for="pass" class="yahei">密码</label>-->
        <!--<input type="password" name="pass" id="pass">-->
        <!--<label for="pass_confirm" class="yahei">确认密码</label>-->
        <!--<input type="password" name="pass_confirm" id="pass_confirm">-->
        <label for="email" class="yahei">邮箱</label>
        <input type="email" name="email" id="email">
        <label for="hospital" class="yahei">指定医院</label>
        <input type="text" name="hospital" id="hospital" placeholder="省+市（+县）+医院+科室">
        <br>
        <br>
        <input id="sub" type="button" data-inline="true" value="提交">
      </div>
    <!--</form>-->
  </div>
</div>
<script>
    document.title="医生注册页面";
    $(function () {
        $("#sub").click(function () {
//            var name = $('#name').val(),depNumber=$('#department_number').val(),pass = $('#pass').val(), pass_con = $('#pass_confirm').val();
            var real_name=$('#real_name').val(),gender=$("input[name='gender']:checked").val(),birthday=$("#birthday").val(),
                    phone = $('#phone').val(),email = $('#email').val(),hospital=$('#hospital').val();

            if(real_name=="")
                alert("真实姓名不能为空");
            else if(gender==undefined)
                alert("请选择性别");
            else if(phone=="")
                alert("手机号不能为空");
            else if(!phone.match(/^1[3|4|5|8][0-9]\d{4,8}$/))
                alert("手机号码格式不正确！请重新输入！");
            else if(email!=""){
                if(!email.match(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/))
                    alert("邮箱格式不正确！请重新输入！");
            }else if(hospital=="")
                alert("医院信息不能为空");
            else if(birthday=="")
                alert("出生日期不能为空");
            else{
                $.ajax({
                    url: '/weixins/register_doctor',
                    type: 'post',
                    data: {
                        real_name: real_name,
                        gender: gender,
                        phone: phone,
                        email: email,
                        hospital: hospital,
                        birthday: birthday
//                        open_id: "<%#= @open_id %>"
                    },
                    success: function(data){
                        if(data.success){
                            alert("已经提交成功，正在对您的信息进行审核。。。");
                            window.location.href = data.url;
                        }else{
                            alert(data.errorMessage);
                        }
                    },
                    error: function(){
                        alert('Sorry...系统故障维修中');
                    }
                });
            }
        });
    });
</script>


