<table>
  <tr>
    <td>用户名：</td>
    <td><input type="text" id="username"></td>
  </tr>
  <tr>
    <td>密&nbsp;&nbsp;码：</td>
    <td><input type="password" id="password"></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="button" value="登录并绑定" id="sub"></td>
  </tr>
</table>
<script>
    $('#sub').click(function(){
        $.ajax({
            url: '/weixins/login_info',
            type: 'post',
            data: {
                username: $('#username').val(),
                password: $('#password').val(),
                open_id: "<%= @open_id %>"
            },
            success: function(data){
                if(data.success){
                    window.location.href = "/weixins/login_already?open_id=<%= @open_id %>"
                }else{
                    alert(data.errorMessage);
                }
            },
            error: function(){
                alert('Sorry...系统故障维修中');
            }
        });
    });
</script>