<div data-role="page" id="pageone">
  <div data-role="content">
    <p>使用kanbing365帐号登陆</p>
    <label for="name" class="ui-hidden-accessible">用户名</label>
    <input type="text" name="name" id="name" placeholder="用户名...">
    <label for="pass" class="ui-hidden-accessible">密码</label>
    <input type="password" name="pass" id="pass" placeholder="密码...">

    <label for="auth_code" class="ui-hidden-accessible">验证码</label>
    <input type="text" name="auth_code" id="auth_code" placeholder="验证码...">
    <img src="/code/code_image" id="code_img" onclick="changeImage()"/>
    <br>
    <input id="sub" type="button" data-inline="true" value="绑定">
  </div>
</div>
<script>
    document.title="帐号绑定";
    function changeImage(){
        $("#code_img").attr("src","/code/code_image?tmp="+new Date().getTime());
    }
    $(function(){
        $('#sub').click(function(){
            var name = $('#name').val(),pass= $('#pass').val(),code=$('#auth_code').val();
            if(name==""){
                alert("用户名不能为空");
            }else if(pass==""){
                alert("密码不能为空");
            }else if(code==""){
                alert("验证码不能为空");
            }else{
                $.ajax({
                    url: '/weixins/login_info',
                    type: 'post',
                    data: {
                        username: name,
                        password: pass,
                        auth_code: code,
                        open_id: "<%= @open_id %>"
                    },
                    success: function(data){
                        if(data.success){
                            window.location.href = "/weixins/login_already?open_id=<%= @open_id %>"
                        }else{
                            alert(data.errorMessage);
                        }
                    },
                    error: function(){
                        alert('Sorry...系统故障维修中');
                    }
                });
            }
        });
    });
</script>