<div data-role="page" id="pageone">
  <div data-role="content">
    <!--<form method="post" action="demoform.asp">-->
    <p>我的kanbing365帐号</p>
    <img width="80px" height="80px">
    <p>yancheng</p>
    <a href="#" data-role="button" data-inline="true">更换绑定帐号</a><a href="#" data-role="button" data-inline="true">解除绑定</a>
  </div>
</div>


<!--<h2>您已绑定</h2>-->
<!--<input type="button" value="取消绑定" id="clear">-->
<%#= link_to "取消绑定", action: "login_delete", open_id: @open_id, :class => "button" %>