<!--用户绑定界面-->

<div data-role="page" id="pageone">
  <div data-role="header">
    <h1>帐号绑定</h1>
  </div>
  <div data-role="content">
    <!--<form method="post" action="demoform.asp">-->
    使用kanbing365帐号登陆
    <form id="form_test">
      <label for="name" class="ui-hidden-accessible">用户名</label>
      <input type="text" name="name" id="name" placeholder="用户名...">
      <label for="pass" class="ui-hidden-accessible">密码</label>
      <input type="password" name="pass" id="pass" placeholder="密码...">

      <label for="auth_code" class="ui-hidden-accessible">验证码</label>
      <input type="text" name="auth_code" id="auth_code" placeholder="验证码...">
      <img src="/code/code_image" id="code_img" onclick="changeImage()"/>
      <br>
      <input id="sub" type="submit" data-inline="true" value="提交">
    </form>
  </div>
</div>
<script>
    function changeImage(){
        $("#code_img").attr("src","/code/code_image?tmp="+new Date().getTime());
    }
</script>

<!--<div data-role="page" id="pageone">-->
<!--<div data-role="content">-->
<!--<h2>我的邮箱</h2>-->
<!--<ul data-role="listview" data-inset="true">-->
<!--<li><a href="#">收件箱<span class="ui-li-count">25</span></a></li>-->
<!--<li><a href="#">发件箱<span class="ui-li-count">432</span></a></li>-->
<!--<li><a href="#">垃圾箱<span class="ui-li-count">7</span></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div data-role="page" id="pagetwo">-->
<!--<div data-role="content">-->
<!--<h2>我的邮箱</h2>-->
<!--<ul data-role="listview" data-inset="true">-->
<!--<li><a href="#">收件箱<span class="ui-li-count">25</span></a></li>-->
<!--<li><a href="#">发件箱<span class="ui-li-count">432</span></a></li>-->
<!--<li><a href="#">垃圾箱<span class="ui-li-count">7</span></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->






<!--<table>-->
  <!--<tr>-->
    <!--<td>用户名：</td>-->
    <!--<td><input type="text" id="username"></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>密&nbsp;&nbsp;码：</td>-->
    <!--<td><input type="password" id="password"></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td></td>-->
    <!--<td><input type="button" value="登录并绑定" id="sub"></td>-->
  <!--</tr>-->
<!--</table>-->
<script>
//  $(function(){
//      $('#sub').click(function(){
//          $.ajax({
//              url: '/weixins/login_info',
//              type: 'post',
//              data: {
//                  username: $('#username').val(),
//                  password: $('#password').val(),
//                  open_id: "<%#= @open_id %>"
//              },
//              success: function(data){
//                  if(data.success){
//                      window.location.href = "/weixins/login_already?open_id=<%#= @open_id %>"
//                  }else{
//                      alert(data.errorMessage);
//                  }
//              },
//              error: function(){
//                  alert('Sorry...系统故障维修中');
//              }
//          });
//      });
//  });
</script>