<div data-role="page" id="pageone">
  <div data-role="content">
    <!--<form method="post" action="demoform.asp">-->
    <!--<form method="post" action="register_patient" data-ajax="false">-->
    <div data-role="fieldcontain">
      <label for="name" class="yahei">用户名</label>
      <input type="text" name="name" id="name">
      <fieldset data-role="controlgroup" data-type="horizontal">
        <legend class="yahei">性别</legend>
        <label for="male">男</label>
        <input type="radio" name="gender" id="male" value="男">
        <label for="female">女</label>
        <input type="radio" name="gender" id="female" value="女">
      </fieldset>
      <label for="pass" class="yahei">密码</label>
      <input type="password" name="pass" id="pass">
      <label for="pass_confirm" class="yahei">确认密码</label>
      <input type="password" name="pass_confirm" id="pass_confirm">
      <label for="phone" class="yahei">手机号</label>
      <input type="text" name="phone" id="phone">
      <label for="email" class="yahei">邮箱</label>
      <input type="email" name="email" id="email">
      <!--<label for="open_id" class="ui-hidden-accessible">open_id</label>-->
      <!--<input type="hidden" name="open_id" id="open_id" value="<%#= @open_id%>">-->
      <br>
      <br>
      <!--<input id="sub" type="submit" data-inline="true" value="提交">-->
      <input id="sub" type="button" data-inline="true" value="提交">
    </div>
    <!--</form>-->
  </div>
</div>
<script>
    document.title = "患者注册页面";
    $(function () {
        $("#sub").click(function () {
            var gender=$("input[name='gender']:checked").val(), name = $('#name').val(), pass = $('#pass').val(), pass_con = $('#pass_confirm').val(), phone = $('#phone').val(), email = $('#email').val();
            if(name=="")
                alert("用户名不能为空");
            else if(gender==undefined)
                alert("请选择性别");
            else if(pass==""||pass_con=="")
                alert("密码不能为空");
            else if(phone=="")
                alert("手机号不能为空");
            else if(pass!=pass_con)
                alert("两次密码不一致，请确保密码一致");
            else if(!phone.match(/^1[3|4|5|8][0-9]\d{4,8}$/))
                alert("手机号码格式不正确！请重新输入！");
            else if(email!=""){
                if(!email.match(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/))
                    alert("邮箱格式不正确！请重新输入！");
            }else{
                $.ajax({
                    url: '/weixins/register_patient',
                    type: 'post',
                    data: {
                        name: name,
                        pass: pass,
                        phone: phone,
                        email: email,
                        gender: gender,
                        open_id: "<%= @open_id %>"
                    },
                    success: function(data){
                        if(data.success){
//                            if(confirm("是否需要完善个人信息？"))
//                                window.location.href = data.url;
//                            else
                            window.location.href = data.url;
                        }else{
                            alert(data.errorMessage);
                        }
                    },
                    error: function(){
                        alert('Sorry...系统故障维修中');
                    }
                });
            }
        });
    });
</script>


