<div data-role="page" id="pageone">
  <div data-role="header">
    <h1>患者注册页面</h1>
  </div>
  <div data-role="content">
    <!--<form method="post" action="demoform.asp">-->
    <form method="post" action="">
      <div data-role="fieldcontain">
        <label for="name">用户名</label>
        <input type="text" name="name" id="name">
        <label for="pass">密码</label>
        <input type="password" name="pass" id="pass">
        <label for="pass_confirm">确认密码</label>
        <input type="password" name="pass_confirm" id="pass_confirm">
        <label for="phone">手机号</label>
        <input type="text" name="phone" id="phone">
        <label for="email">邮箱</label>
        <input type="email" name="email" id="email">
        <br>
        <br>
        <input id="sub" type="submit" data-inline="true" value="提交">
      </div>
    </form>
  </div>
</div>


