<%#= stylesheet_link_tag    "application" %>
<%#= stylesheet_link_tag    "custom.css" %>
<div class="clear"></div>
<footer id="footer">
    <p>
      <%= link_to t('.about'),   about_path %> |
      <%= link_to t('.contact'), contact_path %>
    </p>
</footer>
