<div class="footer" style="width:100%;border-top:1px solid #d1d1d1;margin-top:10px;">

    <div class="container text-center font-yahei font-14" style="color:#929aa5;padding:15px 0;">
      <span><a href="/home" class="font-14">首页</a><span style="margin:0 5px;">|</span><a href="" class="font-14">关于我们</a><span style="margin:0 5px;">|</span><a href="" class="font-14">联系我们</a><span style="margin:0 5px;">|</span><a href="" class="font-14">友情链接</a></span><br />
      <span>清华大学玉泉医院 京ICP备09107196号-1</span>
      </div>

</div>