<div class="f" style="width:100%;border-top:1px solid #d5d5d5;margin-top:10px;">

    <div class="f_logo container text-center font-yahei font-14" style="padding:0;line-height: 80px">
       <span style="color:#b9b9bb">CopyRight 2014 ©</span> 京ICP备09107196号-1<br />
    </div>

</div>