<div class="f" style="width:100%;border-top:1px solid #d5d5d5;margin-top:10px;">

  <div class=" container text-center font-yahei font-14" style="padding:0;">
    <span class=""><a href="http://www.gre-mdeical.com" target="_blank">绿色医疗</a> </span>|
    <span class=""><a href="http://www.yuquanhosp.com/" target="_blank">清华大学玉泉医院</a> </span>
    <span class=""><a href="http://www.wangyi24.com/" target="_blank">网医24</a> </span>|
  </div>

  <div class="f_logo container text-center font-yahei font-14" style="padding:0;line-height: 80px">
    <!--<span style="color:#b9b9bb">CopyRight 2014 ©</span> 京ICP备09107196号-1<br />-->
    <span class="pull-right"><%= image_tag "weixin1.jpg", :style => "width:70px" %></span>

    <span style="color:#b9b9bb">CopyRight 2014 &copy;</span> 京ICP备09107196号-1<br/>
  </div>

</div>