<!--footer-->
<div class="footer">
  <div class="container">
    <div class="pull-right space2 space"><a href="/about" class="font-color3">关于</a>|<a href="/contact" class="font-color3">联系</a></div>
  </div>
</div>
<!--footer end-->
