<!DOCTYPE html>
<html style="overflow-y:scroll;">
<head>
  <title>健康管理平台</title>
  <%#= stylesheet_link_tag    "mapp", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "mapp", "data-turbolinks-track" => true %>
  <%=csrf_meta_tags%>
</head>
<body class="bg_img">
<%= yield %>
</body>
</html>